[2013-11-25 13:40] feross opened #1 "File Firefox bug for not being able to augment native objects"
Firefox does not allow augmenting "native" objects (like Uint8Array
instances) with new properties for some unknown (probably silly)
reason.

[2013-12-03 18:07] ghost opened #2 "assert module inflates the bundle size"
Presently, this module does `require('assert')` which results in a rather large bundle because of downstream dependencies from assert:

[code]

commenting out the assert, this module has a much smaller footprint:

[code]

which is only 3k more than the index.js itself.

It seems like the asserts could be replaced with `throw new Error()` for a huge savings in bytes?

[2013-12-04 01:06] #2 closed, assigned to nobody

[2013-12-15 10:56] feross opened #5 "util.isBuffer(new Buffer(4)) is broken in browserify"
- Send PR to `node-util` (will fix this for most people)
- Send PR to `core-util-is` to use `Buffer.isBuffer` instead of `instanceof Buffer` (also used quite a bit)

[2013-12-20 06:57] #1 closed, assigned to nobody

[2013-12-22 02:31] feross opened #6 "Remove github dependency"
Waiting for this PR to published on npm: https://github.com/beatgammit/base64-js/pull/3

[2013-12-28 06:54] feross opened #7 "Use an Object-based implementation as a fallback"
Currently, we use Uint8Array in Chrome, IE10, Opera, and Safari. We use a Proxy + Uint8Array in Firefox. And we use fake Uint8Array from `typedarray` in IE6-9 and Firefox 3.

There are some problems that have become clear with this approach.
1. Firefox `Proxy` performance is terrible
2. Still broken in IE6-8
3. Large bundle size (60KB+) from too many implementations...
### 1. Firefox `Proxy` perfo

[2013-12-28 08:05] feross opened #8 "Remove DataView, just do bitops"
Advantages:
- less code
- i'm guessing it will be faster
- same code path for browsers that support typed arrays and those that don't

[2013-12-28 09:56] feross opened #9 "buf.slice() should do parent tracking to match node api behavior"
See for description of the problem: https://github.com/toots/buffer-browserify/issues/19

From the [node docs](http://nodejs.org/api/buffer.html#buffer_buf_slice_start_end):

[code]

[2013-12-28 10:41] feross opened #10 "IE6-8 support"
Still broken in IE6-8.

`typedarray` uses `Object.defineProperty` which is not supported in IE6-8.

[2013-12-28 10:53] #7 closed, assigned to nobody

[2013-12-28 11:06] #10 closed, assigned to nobody

[2013-12-28 20:58] feross opened #11 "Add Chrome 9-10 support"
Tests are failing because Uint8Arrays lack the `subarray` method in Chrome 9-10. Odd.

[2013-12-28 21:00] #11 closed, assigned to nobody

[2014-01-01 01:20] #8 closed, assigned to nobody

[2014-01-01 02:30] #9 closed, assigned to nobody

[2014-01-08 05:19] #6 closed, assigned to nobody

[2014-01-08 06:02] #5 closed, assigned to nobody

[2014-01-18 12:32] guybrush opened #16 "TypeError: buf.set is not a function (firefox@27.0 and nightly)"
[L86](https://github.com/feross/native-buffer-browserify/blob/9ee5f2b7c96/index.js#L86) throws for me with `TypeError: buf.set is not a function` in firefox@27.0 and nightly

as far as I can see the array doesnt get augmented since [L24-L31](https://github.com/feross/native-buffer-browserify/blob/9ee5f2b7c96/index.js#L24-L31) throws, so `Buffer._useTypedArrays` is `false`. in [L84](https://github.

[2014-01-18 20:45] #16 closed, assigned to nobody

[2014-01-20 00:34] deathcap opened #17 "buf.toArrayBuffer on Firefox"
Would it be reasonable to support `toArrayBuffer` on browsers where `Buffer` is `Object`-backed, but typed arrays are available? (= Firefox)

Currently `toArrayBuffer` is only available where `Buffer` is an augmented `Uint8Array`:

[code]

added in augment():

[code]

`ArrayBuffer`s are required by some browser APIs (at least the [W3C File API](http://www.w3.org/TR/FileAPI/)), but `toArrayBuffer`

[2014-01-20 00:42] deathcap opened #18 "Missing buffer get() method?"
Not sure if this is a bug, but the `get` method of `Buffer` seems to be missing in native-buffer-browserify:

[code]

applies to both data view and object-backed buffers.

http://nodejs.org/api/buffer.html does not document `get`, which is why I am unsure whether this is a legitimate issue. But I hit this problem while attempting to browserify  https://github.com/kriskowal/zip/pull/12 - fixed by c

[2014-01-20 08:09] #18 closed, assigned to nobody

[2014-01-20 08:17] #17 closed, assigned to nobody

[2014-03-04 05:12] feross opened #20 "Confirm that Firefox uses Uint8Array implementation (after Firefox bugfix lands)"
Firefox is fixing their `Uint8Array` implementation (see bug in https://bugzilla.mozilla.org/show_bug.cgi?id=695438). Once that lands, let's confirm that buffer is using it and run the benchmarks.

[2014-03-27 02:47] #20 closed, assigned to nobody

[2014-04-07 23:17] mafintosh opened #22 "Convert Uint8Array to Buffer"
Should we expose the `augment` function somehow to allow for converting an Uint8Array to a Buffer without having to do a copy (which I believe `new Buffer(uint8array)` does now) ?

[2014-04-08 09:21] #22 closed, assigned to nobody

[2014-04-10 06:13] feross opened #25 "Test that expected browsers are getting the Uint8Array implementation"
As discussed in https://github.com/feross/buffer/pull/24, add tests for if Safari version > X, then assert that we're getting the Uint8Array implementation, etc. for all browsers.

[2014-05-03 06:13] feross opened #27 "Add Buffer.compare, buf.equals, buf.compare"

[2014-05-03 06:13] feross opened #28 "fill() should support strings longer than length 1"

[2014-05-03 06:14] feross opened #29 "Update for all 0.11 changes in buffer module"

[2014-05-08 00:26] #29 closed, assigned to nobody

[2014-05-08 00:26] #28 closed, assigned to nobody

[2014-05-08 00:26] #27 closed, assigned to nobody

[2014-05-08 00:46] #25 closed, assigned to nobody

[2014-05-30 18:55] feross opened #32 "Return node core buffer when used in node environment"

[2014-06-28 22:45] rhalff opened #33 "Base64 with new lines doesn't work."
When a base64 string contains new lines the node buffer module will behave correctly,
however the browserified version will garble the data.

Reproduce:

[code]

Output will be:

[code]

Github seems to transfer it's `content` data including new lines, e.g.:

https://api.github.com/repos/rhalff/rhalff.github.io/git/blobs/9bb51606e7e8c5a63b67900fb6cab25094f4fce5

and is why I encounter this.

[2014-06-30 06:43] #33 closed, assigned to nobody

[2014-07-10 19:07] humphd opened #34 "Consider matching Buffer.toJSON() more closely"
[code]

With `buffer` in the browser I get `{type: 'Buffer', data: [...]}`.  Obviously you're doing this intentionally, since the code does exactly this.  However, I wonder why you've chosen to do it this way?  At the very least, documenting the difference will save users problems when it works differently than they expect.

[2014-07-17 03:30] cookiengineer opened #35 "Buffer.isBuffer - unnecessary ._isBuffer = true flag"
Why is Buffer.isBuffer solved this way?

[code]

Why not just return b instanceof Buffer?
Why do you need to dispatch the isBuffer property to the UInt8Array anyways?

[2014-07-17 04:10] cookiengineer opened #36 "Does helper method clamp need to exist?"
Quoting from the source (https://github.com/feross/buffer/blob/master/index.js#L1032), this is the given implementation:

[code]

This whole method can be realized in a more readable way, I haven't tested performance, but it should be better as multiple if conditions are saved:

[code]

If the Math.min calls are too heavy (which I don't expect, because they are faster than the previous implementat

[2014-07-17 05:24] #34 closed, assigned to nobody

[2014-07-17 05:26] #35 closed, assigned to nobody

[2014-07-17 05:28] #32 closed, assigned to nobody

[2014-07-17 05:47] feross opened #37 "buffer: construct new buffer from buffer toJSON() output"
Tracking changes in node master: https://github.com/joyent/node/commit/2cae44f16934836f0a66b2ea930a0604f505e571

[2014-07-17 06:04] #37 closed, assigned to nobody

[2014-07-17 06:06] #36 closed, assigned to nobody

[2014-08-10 22:35] feross opened #40 "Investigate proper `instanceof Buffer` support"
I saw a potential way to get `instanceof Buffer` working in a module by @dcodeIO: https://github.com/dcodeIO/node-BufferView/blob/master/BufferView.js

[code]

[2014-09-09 19:28] bjackson opened #41 "Writing strings that contain integers as integer fails, deviates from Node API"
The following will work:

[code]

The following will not:

[code]

Node's internal buffer handles this case and parses the integer, but this buffer implementation fails in Node and throws this error:

[code]

[2014-09-11 23:14] feross opened #43 "Eliminate use of assert(), switch to raw throw"

[2014-09-12 00:04] feross opened #44 "Copy over all tests from node core"

[2014-09-12 00:18] #41 closed, assigned to nobody

[2014-09-12 10:35] #43 closed, assigned to nobody

[2014-09-27 17:11] feross opened #45 "Consider using native StringEncoder when available"
There's a native html5 api for string encoding and decoding. Benchmark it and see if it's faster to use it, when possible.

[2014-10-13 19:05] konklone opened #46 "Buffer slicing not working when passed to a browser XHR"
I ran into an issue, documented in https://github.com/nathanpeck/s3-upload-stream/issues/20, where a Buffer that had been sliced and then passed onto the browser's native XHR object wasn't having its sliced view respected.

It looks like you might have already addressed and documented this in https://github.com/feross/buffer/commit/500be9ea3fd820f36e7db6f00bacaf2d86389e0d? If so, it might be worth

[2014-10-14 07:17] #46 closed, assigned to nobody

[2014-11-26 07:15] kkartunov opened #47 "Buffer.concat undefined is not a function"
Hi,

in node doing `Buffer.concat(...)` of array of Buffers works but in the browser I get `Buffer.concat undefined is not a function`.

The code is like this:

[code]

I use this to create a POST body for http.
What could be the reason of this error?
I did checked that Buffer constructor is present after browserify build. But it looks that `.concat` method is not?

[2014-11-26 08:25] #47 closed, assigned to nobody

[2014-12-05 06:07] trollixx opened #48 "write() writes partial codes of multibyte characters"
I've noticed that partial bytes of UCS-2 symbols are written, while they shouldn't be according to the [Node.js documentation](http://nodejs.org/api/buffer.html#buffer_buf_write_string_offset_length_encoding).

Here's the code taken from Node.js [test](https://github.com/joyent/node/blob/master/test/simple/test-buffer.js#L339):

[code]

[2014-12-07 20:24] #48 closed, assigned to nobody

[2014-12-24 00:27] #44 closed, assigned to nobody

[2014-12-31 02:59] feross opened #53 "Remove special url-safe base64 handling in buffer"
Merged @jessetane's PR (https://github.com/beatgammit/base64-js/pull/10) so we can remove the special handling code in buffer for this.

[2014-12-31 06:06] #53 closed, assigned to nobody

[2015-02-06 17:03] mourner commented on #45
Tried that [here](https://github.com/mapbox/pbf/blob/master/buffer.js) — nope. Extremely harmful for performance — with native TextEncoder/TextDecoder, it like 5x slower in Chrome.

[2015-02-06 23:58] feross commented on #45
Good to know. The API will probably get faster in a few years when the API is used more in the wild and there's a reason to optimize it.

I'll close this issue for now, since we can't afford a 5x perf hit.

[2015-02-06 23:58] #45 closed

[2015-03-05 06:43] BogdanovAnton opened #56 "Bad name of variable"
In this place:

347: var byte = parseInt(string.substr(i * 2, 2), 16)
348: if (isNaN(byte)) throw new Error('Invalid hex string')
349: buf[offset + i] = byte

https://github.com/feross/buffer/blob/3a22a49dad272004455e90c1df3b0ffb5a07f47f/index.js#L347-L349

used variable with name "byte", but such names are only allowed in ecmascript 5. I'm use RhinoScriptEngine in java and Rhino not complete supp

[2015-03-05 21:46] dcousens commented on #56
@BogdanovAnton could probably have made a PR along with this.  In any case #57.

[2015-03-05 23:10] #56 closed

[2015-03-06 00:06] feross commented on #56
This will be released as 3.0.4.

[2015-03-11 23:30] feross opened #58 "Pull in iojs changes / perf improvements"
History: https://github.com/iojs/io.js/commits/v1.x/lib/buffer.js

[2015-03-12 04:27] feross commented on #40
New possible solution: https://github.com/iojs/io.js/issues/106#issuecomment-76251254

[2015-04-21 10:37] feross commented on #58
I just merged all the latest buffer changes from io.js. Almost all the changes were related to performance.

Released as 3.2.0.

[2015-04-21 10:37] #58 closed

[2015-04-21 10:51] feross commented on #58
Pretty nice performance improvement to the `Buffer` constructor. :+1:

Before:
BrowserBuffer#new(16) x 863,493 ops/sec ±1.61% (93 runs sampled)

After:
BrowserBuffer#new(16) x 1,249,470 ops/sec ±0.96% (89 runs sampled)

[2015-04-21 23:45] dcousens commented on #58
Cheers for writing this up :)

[2015-06-04 08:16] coolaj86 opened #60 "Drop utf8ToBytes and asciiToBytes in favor of TextEncoder"
TextEncoder and TextDecoder are already supported in Chrome and Firefox (not sure about MSIE and Safari).

`var buf = new TextEncoder('utf-16le').encode("I ½ ♥ 💩");`
`var str = new TextDecoder('utf-16le').decode(buf);`

If you use them you could drop a fair amount of code and only provide your UTF-8, UTF-16, etc conversions as a separate Polyfill module when the native TextEncoder and TextDecoder

[2015-06-04 14:14] jessetane commented on #60
I left some notes here for why I made some of the decisions I did for utf8tobytes: https://github.com/feross/buffer/pull/51#commitcomment-9083450

Let me know if anything there seems wrong or needs updating, happy to try and help fix. See also #45

[2015-06-04 20:28] coolaj86 commented on #60
I don't think anything is wrong with it, but it's no longer necessary. W3C's TextEncoder does it for you.

I'm saying you can move that to a polyfill and only load it for IE, Safari, and old Android.
https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder

[2015-06-06 03:24] feross commented on #60
This module has to work all the way back to IE6, so we're stuck with the code regardless. The real question is: what is the performance impact?

I opened an issue for this a while back (https://github.com/feross/buffer/issues/45) and it turned out that TextEncoder was 5x slower in Chrome, probably because they haven't optimized the API yet. When it's faster, we should probably prefer it to our own

[2015-06-06 15:32] jessetane commented on #60
This module is also about compatibility with node (http://blog.nodejs.org/2014/06/16/openssl-and-breaking-utf-8-change/). If your app targets platforms that support the native apis, why not use TextEncoder with typed arrays directly?

[2015-06-06 18:52] feross commented on #60
Oh, interesting point @jessetane. I wonder how easy it would be to support these node quirks if we used TextEncoder...

[2015-06-06 21:41] jessetane commented on #60
I mean, how much do people like the Buffer api? This module is important because it provides a bridge from node/npm into the browser, but imo it's just a shim for that purpose.

I think it's a bit confusing to lump an api for transcoding unicode <--> binary in with the api for working with binary data. The api for working with binary data is available now via typed arrays, the api for working with

[2015-06-06 22:10] feross commented on #60
Are these new APIs available in node or iojs yet? Buffer is nice because
your modules can work in both environments without special case hacks.

Also, I personally quite like the Buffer API.
On Sat, Jun 6, 2015 at 2:42 PM jessetane <notifications@github.com> wrote:

[2015-06-06 22:18] jessetane commented on #60
TextEncoder no, though there is the polyfill @coolaj86 mentioned. I figure it's better to shim node than the browser since you generally care less about code size there. I have almost completely weened myself off Buffer - the DataView api is quite nice!

[2015-06-07 06:03] feross commented on #60
Buffer is way faster than DataView, at least for now :)

[2015-06-28 11:44] #60 closed

[2015-07-29 20:45] mpfluger opened #63 "crypto.getRandomValues and Buffer throws a TypeError on Safari iOS 7"
When using https://github.com/crypto-browserify/randombytes on Safari iOS 7 it throws a TypeError.

This works:

    var a = new Uint8Array(128)
    crypto.getRandomValues(a)

This throws a TypeError with message `"Type error"`:

    var b = Buffer(128)
    crypto.getRandomValues(b)

The second case is how `randombytes` implements it, see https://github.com/crypto-browserify/randombytes/blob/maste

[2015-07-29 20:59] mpfluger commented on #63
Just for reference on iOS 7 Safari reports `navigator.userAgent` as `"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Mobile/11D167"`

[2015-07-29 22:36] dcousens commented on #63
@mpfluger it seems this is a `Buffer` problem,  AFAIK `Buffer` should be synonymous with `Uint8Array` if everything works out.

@feross ?

[2015-07-30 06:55] feross commented on #63
This is happening because Safari 7 gets the buffer implementation based on `Object`, not `Uint8Array`. This started happening with these two commits from a PR: https://github.com/feross/buffer/commit/364ab7048f512e582868d40a17020ce2405586c3 and https://github.com/feross/buffer/commit/57f423901b998b61a77ec5d65c1ce2cfcd554695 by @parshap.

The change detects whether the browser supports changing the

[2015-07-30 07:00] feross commented on #63
@mpfluger

The solution in your fork looks fine, but you can make it more efficient by avoiding the Buffer constructor which does a copy. Use [`typedarray-to-buffer`](https://www.npmjs.com/package/typedarray-to-buffer) instead of the Buffer constructor and the Uint8Array will be re-used when possible.

Change:

[code]

To:

[code]

[2015-07-30 20:10] mpfluger commented on #63
@feross

Thanks a lot for you feedback. I understand your sentiment of not wanting to deploy a strange fix for a dying browser. I did some more research and this affects all Safari browsers before version 8. Still a pretty small market share, but maybe worth a fix - it's up to you.

On our end I will use your proposition from above: `Buffer.TYPED_ARRAY_SUPPORT = true`.

Just for reference, here's

[2015-07-30 20:27] feross commented on #63
@mpfluger Thanks for understanding! I'll close this issue since you found a suitable workaround :)

[2015-07-30 20:27] #63 closed

[2015-07-30 23:59] mpfluger commented on #63
@feross Thanks again for explaining this in detail and providing a solution!

[2015-07-31 00:04] feross commented on #63
Happy to :+1:

[2015-08-10 12:00] yehudahkay opened #66 "Different result than with node"
Hi,

I tried using specifically the function utf8slice on a byte array but I get a slightly different result than calling new Buffer(arr).toString() from node. I tried finding the utf8slice function in the node source code but didn't have much luck.

Here is the function I used from your source code:
[code]
Here is the array:
[code]
Can anyone help? Thanks

[2015-08-10 12:06] feross commented on #66
I don't have time to investigate this right now. PR welcome!

@dcousens any ideas?

[2015-08-10 13:47] dcousens commented on #66
@feross I've at least tested the (and confirmed) that this is indeed a bug.

test.js
[code]

index.html
[code]

results
[code]

Source not yet known.

[2015-08-10 13:48] dcousens commented on #66
ping @calvinmetcalf

[2015-08-10 13:56] dcousens commented on #66
Further reduced test case:

test.js
[code]

results
[code]

[2015-08-10 16:17] calvinmetcalf commented on #66
so the result in node of the intermediate 'str' value is `����\u0000\u0010JFIF\u0000\u0001` it would look like new Buffer doesn't handle Unicode'

[2015-08-10 16:24] calvinmetcalf commented on #66
opened an issue in node nodejs/io.js#2344

[2015-08-10 18:11] jessetane commented on #66
I think what might be happening here is that node is inserting replacement chars for each byte it determines is part of an invalid utf8 sequence. The call to `decodeURIComponent` (in `decodeUtf8Char`) will throw if _any_ invalid utf8 is detected, so we only ever get one replacement char regardless of the length of the input string - which may or may not contain good utf8 along with the bad.

To ge

[2015-08-10 21:34] feross commented on #66
Sounds like we need to fix this here. Anyone up to send a PR?

[2015-08-10 22:01] jessetane commented on #66
I can take a look

[2015-08-11 14:42] dcousens commented on #66
This is resolved now.

results
[code]

[2015-08-11 14:42] #66 closed

[2015-08-13 11:03] feross commented on #66
Published as 3.4.2.

[2015-08-15 14:31] nolanlawson opened #69 ""call stack size exceeded" for large binary strings in 3.4.2"
In PouchDB we use large binary strings when we store binary data in `localstorage-down` and `level-js`, and our tests started failing recently due to buffer 3.4.1 and 3.4.2 (https://github.com/pouchdb/pouchdb/issues/4164, see discussion over there). In short, 3.4.1 had a perf regression which appears fixed in 3.4.2, but 3.4.2 now has a "call stack size exceeded" error when I test in Chrome 44 (on

[2015-08-15 15:12] jessetane commented on #69
Ah, yes the `apply` argument count limit... Chrome seems to bail for > 65535. I had originally written this calling `String.fromCharCode` for each code point but that was rather slow, so @nolanlawson I think your idea to break up the array into chunks at the end seems maybe best.

[2015-08-15 15:46] dcousens commented on #69
Resolved in #70

[2015-08-15 15:51] nolanlawson opened #71 "Improve perf of fromCharCode()"
Follow-up to #69 and #70; looks like chunking up the array is actually faster: http://jsperf.com/string-fromcharcode-apply-vs-string-fromcharcode-using-/3

[2015-08-15 16:21] #71 closed

[2015-08-18 16:47] adametry commented on #69
Unfortunately, there's not a fixed max arguments (i.e., 0x10000 in Chrome) as the size/complexity of the call stack also influences this threshold. I receive the "call stack size exceeded" while converting moderately large buffers to strings before (@3.4.2) and after the c5a9012 commit. I've wrestled with this issue before and found it best to either use a much smaller chunk size (e.g., 0xfff) or

[2015-08-18 18:44] nolanlawson commented on #69
@adametry Can you open a new issue then? I think using a smaller chunk size is probably a fine solution. I'd suggest a try/catch, but that would lead to deoptimizations, so probably worse.

[2015-08-18 23:52] feross commented on #69
We should try making the max argument length smaller - say cut it in half. If that doesn't work, we should probably stop using the `apply` approach.

[2015-08-18 23:52] dcousens commented on #69
@feross agreed,  want me to make the change?

[2015-08-19 00:06] jessetane commented on #69
Calling `String.fromCharCode` directly should just not be so slow... and in fact, it isn't slow as long as the code points you're handing it are in the ascii range. As soon as you get outside ascii (even if you're still in the BMP!) it seems to slow way down unless you use the `apply` trick.

I guess dropping the `apply` approach entirely makes sense since the failure case is  non-deterministic? E

[2015-08-19 02:52] nolanlawson commented on #69
I figured this was worth a JSPerf, so I put together a comparison of for loops vs `apply` using a very large array, with [a non-ASCII version of the test](http://jsperf.com/string-fromcharcode-apply-vs-string-fromcharcode-using-/3) and [an ASCII version](http://jsperf.com/string-fromcharcode-apply-vs-string-fromcharcode-using-/5).

I wasn't able to test in Safari or IE (because I'm on Linux), so p

[2015-08-19 05:20] jessetane commented on #69
ah I was testing with smaller strings, like 16 chars. The difference for ascii is less extreme, but apply is probably still worth it:

http://jsperf.com/string-fromcharcode-apply-vs-string-fromcharcode-using-/6

I ran this and the other tests in canary, safari 8, and edge, so their stats should show up for you now - also jsperf doesn't seem to recognize edge yet, so it's getting reported as chrome

[2015-08-19 05:31] jessetane commented on #69
jsperf overwrote my last test, so /6 now shows the long string, but with chunk size lowered to 0xFFF, still seems fast.

[2015-08-19 11:03] feross commented on #69
Nice to hear that it's still fast with a smaller chunk size. Let's try that.

@dcousens Can you make the change?

[2015-08-20 23:49] #69 closed

[2015-08-20 23:50] dcousens commented on #69
@feross done.

[2015-08-21 14:36] feross commented on #69
Since this commit (https://github.com/feross/buffer/commit/4ca70711a3c2ff0bbe42be3de91116d784d1fd50) by @dcousens IE8 and iOS 5.1 support is broken. I want to do a release, but can't until this is fixed.

[2015-08-21 17:11] nolanlawson commented on #69
Sorry about that. :( What's the error the browser is throwing?

[2015-08-21 18:27] feross commented on #69
I didn't see an error in zuul, so we'll need to fire up a VM. My primary laptop broke and I'm borrowing a friend's for the next few weeks since I'm in Europe so I don't have a VM handy.

[2015-08-22 00:55] dcousens commented on #69
@feross was it only that commit that was broken? Or all since too?

[2015-08-22 07:34] esthrim commented on #69
hi, i know this issue already closed, but i'm  still having this issue using the latest commit. the error happened when saving the buffer to a file using nodejs fs. here is my code

      var fs = require('fs');
      var B = require('buffer/').Buffer;
      var buffin = fs.readFileSync('calibri.ttf');

      var b64 = buffin.toString('base64');

      var bf = new B(b64,'base64');

      fs.write

[2015-08-22 08:41] esthrim opened #74 "Corrupted file result when saved to file from base64 source"
my code is like this :

      var fs = require('fs');
      var B = require('buffer/').Buffer;

      var buffin = fs.readFileSync('excel.xls');

      var b64 = buffin.toString('base64');

      var bf = new B(b64,'base64');

      fs.writeFile('excelo.xls', bf, function (err) {
               if (err) throw err;
                   console.log('It\'s saved!');
      });

the excelo.xls file is ca

[2015-08-22 09:09] dcousens commented on #74
@esthrim if you could provide the data for us to test this,  that'd be very helpful.

[2015-08-22 09:24] esthrim commented on #74
@dcousens  it is only regular excel file containing tabular data. you can also try yourself using simple excel file (xls or xlsx).  or you can use mine (please rename the file to excel.xls) thanks.
![excel](https://cloud.githubusercontent.com/assets/2139726/9423342/2c0d238e-48ea-11e5-9926-61206a3c06a9.png)

[2015-08-22 09:28] esthrim commented on #74
sorry i accidentally close the issue

[2015-08-22 09:51] esthrim commented on #74
you can also use this file, please rename to .pdf
![test](https://cloud.githubusercontent.com/assets/2139726/9423446/f7f48c82-48ed-11e5-8b53-bdeb20ee7910.png)

[2015-08-22 11:11] jessetane commented on #69
possible fix for the tests: #75

[2015-08-22 12:19] feross commented on #74
The node API `fs.writeFile` accepts Buffer arguments only. If you pass it a browser buffer (which is really a Uint8Array, it calls `.toString()` on the parameter before writing it.

[code]

[code]

[2015-08-22 12:19] #74 closed

[2015-08-23 15:09] dcousens commented on #74
@feross are you sure?  That doesn't line up with his result:

[2015-08-23 15:43] feross commented on #74
He could be on a different version of node. Node buffers changed significantly in node 0.12 and again in iojs 3.0. In any case, I don't expect this to work.

@esthrim What's the use case for using this module in node?

[2015-08-24 03:35] esthrim commented on #74
@feross  actually i just want to test the Buffer's result whether it is the same with the Node's Buffer or not when saving it to a file, and based on your explanation that means that i cannot use the node's writefile function if i want to save the "Feross Buffer" to a file, because the writefile function requires the Node's Buffer type and "Feross Buffer" type is Browser Buffer which is different.

[2015-08-29 02:20] thenewguy opened #76 "include build in release"
It would be handy if the [release download](https://github.com/feross/buffer/releases) included a build version of the code that could be used directly in the browser for the occasional proof of concept html page put together on a tablet without a node build environment

[2015-08-29 10:02] dcousens commented on #76
@thenewguy just use browserify?

[2015-08-29 15:23] nolanlawson commented on #76
How about just adding a link to https://wzrd.in/standalone/buffer to the README?

[2015-08-30 20:17] #76 closed

[2015-08-30 20:17] feross commented on #76
@nolanlawson Good idea. Done.

[2015-08-30 20:45] feross commented on #74
@esthrim You can compare feross/buffer to the node buffer by changing your code like this:

[code]

Let me know if that works for you.

[2015-08-30 20:46] feross commented on #74
@esthrim Also, can you share the version of node you're using?

[code]

[2015-09-11 03:55] ajenkul opened #77 "How to use buffer without browserify?"
I'm working on a cordova project which is client-side javascript. I want to use buffer to decompress my string like this:
[code]
Please help me to use your library in client javascript. Thanks you!

[2015-09-11 04:48] feross commented on #77
A standalone bundle is available [here](https://wzrd.in/standalone/buffer), for non-browserify users.

[2015-09-11 04:48] #77 closed

[2015-09-11 04:52] ajenkul commented on #77
I know it and downloaded it. But how to use your library like that line of code? I just require it by <script> tag

[2015-09-11 04:56] feross commented on #77
Yeah, put it in a script tag. It's a standalone browserify bundle that puts itself on the `window` with the name `buffer`, so you don't use the `require` function.

Instead just do this:

[code]

Now you can use `Buffer`.

[2015-09-11 04:58] ajenkul commented on #77
Many thanks for you. I did it.

[2015-09-16 06:13] feross commented on #40
`instanceof Buffer` works correctly in buffer v3.5.0 now!

This fixes the last remaining incompatibility with the node Buffer! And since Buffer in node v4.0.0 is based on `Uint8Array` as well, we're on exactly the same page now!

There's a 50% performance hit on the 16 byte buffer test (`new Buffer(16)`) in non-V8 engines (much better than my previous experiments to get this working). For the 16KB

[2015-09-16 06:30] #40 closed

[2015-09-16 06:43] dcousens commented on #40
@feross any reason why `node 4.0.0` couldn't be using the same `Buffer` code as this library? (hell, why not the same library).

[2015-09-16 06:47] feross commented on #40
Well, they do a bunch of calls directly into the C++ engine. I think one reason they do that is so they can disable the behavior where new typed array memory must be zeroed-out for security reasons in the browser environment. In node, they can do without that and get perf improvements.

Maybe there are more reasons...

[2015-09-16 08:38] SAGV opened #78 "Buffer.concat fails for lists with only one item in it"
I recently tried to use [telegram.link](https://github.com/enricostara/telegram.link/) library with browsefiry and noticed that all the requests fail with `Uncaught TypeError: item.copy is not a function (index.js:328)`.

I've tried a few workarounds and found out that if I add:
[code]
In `Buffer.concat` function, around line `324`, then all the requests pass fine.

I'm not (yet) pro in binary con

[2015-09-16 08:52] dcousens commented on #78
One of these statements is true.

[2015-09-16 16:21] oroce opened #79 "Cannot set property length of [object Object]"
Buffer 3.5.0 breaks in Chrome (`45.0.2454.85 (Official Build) (64-bit)`)

What I'm getting is
[code]

It happens when buffer tries to set `.prototype.length` to `undefined`, here: https://github.com/feross/buffer/blob/master/index.js#L372

I discovered this while I was rolling out our app's new version. Later I'm gonna try to put together a small demo.

(I'm using browserify 11.11.0 which uses `bu

[2015-09-16 16:41] byronanderson commented on #79
+1, causing me to need to start using npm shrinkwrap to get buffer 3.4.3

[2015-09-16 19:56] marioatlp commented on #79
+1

[2015-09-16 22:41] feross commented on #79
Can someone share code to reproduce this error? I can't trigger it and the whole test suite passes on every supported browser...

![](https://camo.githubusercontent.com/7e992522c7f303e600d0aa87e18aa867d371ee1b/68747470733a2f2f73617563656c6162732e636f6d2f62726f777365722d6d61747269782f6275666665722e737667)

[2015-09-16 23:16] dcousens commented on #79
Assuming this bug can be confirmed, what is the best course of action anyway?

[2015-09-16 23:38] feross commented on #79
Depends on the bug. We can either try to fix it, or revert the `instanceof` improvement I shipped in v3.5.0.

[2015-09-17 01:44] marioatlp commented on #79
The code i had that was causing this to show up was while using webpack and was unfortunately several libraries deep where it was triggered so i don't have a simple test case I know the file that directly had threw the error while using a buffer was https://github.com/primus/primus/blob/master/transformer.js  likely not very helpful but you might be able to see a use case that would break it which

[2015-09-17 01:46] nolanlawson commented on #79
@marioatlp Can you provide a stacktrace so we know where transformer was calling Buffer?

[2015-09-17 06:51] oroce commented on #79
haha it seems I could reproduce the issue. It's not buffer but `babelify` when it is used as global transform breaks buffer.

Showcase:
* `--transform`: http://purposeindustries.github.io/buffer-bug79/index.html
* `--global-transform`: http://purposeindustries.github.io/buffer-bug79/index-global.html

Code: https://github.com/purposeindustries/buffer-bug79

[2015-09-21 19:11] jlbruno commented on #79
Looks like we're getting the same issue.
Also using webpack and babel together.

[2015-09-21 19:18] oroce commented on #79
@jlbruno in webpack: add `node_modules` to the `exclude` list

[code]

[2015-09-21 19:55] marioatlp commented on #79
@oroce That solution is only helpful if the issue is a .jsx file in node_modules my issue was in standard JS. an alternative work around until this is fixed is  to add to `package.json`  dependencies section
  ```  "buffer": "3.4.3", ```
and to add to your webpack config file:

[code]

[2015-09-21 20:57] jlbruno commented on #79
Ok, thanks....looks like 3 solutions have worked. Shrinkwrap (locking buffer to 3.4.3 by editing node-libs-browser package.json), excluding node_modules, and adding buffer at a top level dependency locked to v 3.4.3.

Thanks all. Time to figure out which is the least of the evils.

[2015-09-23 06:53] foray1010 commented on #79
[node problem](https://github.com/nodejs/node/pull/2931), confirm fixed in node `4.1.1`

[2015-10-05 10:46] calvinmetcalf opened #80 "Android 4.x support?"
I'm looking into a bug (crypto-browserify/createHash#8)  effecting creating hashes in Android 4.3.1 and earlier.  Some preliminary sauce lab's testing suggests it might effect ciphers too (though could have the same root cause in the hashes if it doesn't effect createCipheriv), that being said it *could* be a bug in buffer and I noticed that this repo doesn't test against android older than 5.0 an

[2015-10-06 00:32] nolanlawson commented on #80
Probably worth just opening a pull request to add Android 4.3 tests and see if anything breaks.

[2015-10-06 18:00] calvinmetcalf commented on #80
opened #81 but the saucelab tests are not run against pull requests

[2015-10-06 18:02] calvinmetcalf commented on #80
ah but I can run them locally

[2015-10-06 18:29] calvinmetcalf commented on #80
and they all pass wtf?

[2015-10-06 20:17] calvinmetcalf commented on #80
ok found a test that fails on android 4.3

[2015-10-06 20:53] dcousens commented on #80
@calvinmetcalf care to share? :)

[2015-10-06 23:36] calvinmetcalf commented on #80
yes is the answer

[2015-10-06 23:36] #80 closed

[2015-10-15 19:47] lostrouter commented on #79
found one other solution for webpack based on

[code]

[2015-10-27 22:02] nelix commented on #79
@lostrouter I would recommend not running babel on third party code, as often the transforms can break code that is unaware of es6. Such as making modules option strict by default.

[2015-10-29 00:19] Ryuno-Ki commented on #79
I cross-referenced this issue against browserify, too. They should at least be aware of this issue.

Since I use traceur instead of babel, my solution was `traceur --script ajar.js --out out/ajar.es6.js && browserify out/ajar.es6.js --ignore buffer -o out/ajar.js`, whereby `ajar.js` is the main entry point in that project.

[2015-11-02 22:35] mikemaccana commented on #79
3.4.3 still seems to have the broken code:

    $ grep version node_modules/buffer/package.json
      "version": "3.4.3"
    $ grep 'length = undefined' node_modules/buffer/index.js
    Buffer.prototype.length = undefined

[2015-12-01 17:46] juliangruber commented on #78
i had a similar problem, in my case the real problem was that i was passing typed arrays into `.concat()`, not buffer instances

[2015-12-02 02:19] dcousens commented on #78
@SAGV I'm going to close this as a non-issue.  If you have a test-case, feel free to re-open.

[2015-12-02 02:19] #78 closed

[2015-12-15 16:52] JSteunou commented on #79
Same here using webpack with https://github.com/mistadikay/strict-loader

[code]

[2015-12-16 09:23] JSteunou commented on #79
Ok I ran the test suit inside the same browser I have the bug in, and it is all good. Maybe someone (webpack?) is doing a freeze on the object, or something else.

[2015-12-16 09:45] JSteunou commented on #79
Find it, don't add / use strict mode on Buffer.js https://github.com/mistadikay/strict-loader/issues/5#issuecomment-165024914

[2015-12-18 15:14] oskbor opened #86 "Slicing buffers fails in latest Microsoft Edge"
slicing buffers fails in Edge 25.10586.0.0
it boils down to this:
[code]
Would you say this is an issue with Edge or with this lib?

[2015-12-19 18:47] nolanlawson commented on #86
This sounds like an issue with Edge, especially if it's a regression from IE11. Should probably be filed on http://connect.microsoft.com/

[2015-12-20 00:18] feross commented on #86
This sounds like a regression in Edge from IE11. Can you file a bug report with Microsoft and post the link here?

[2015-12-20 00:40] feross commented on #86
Just added Edge to the test suite (https://github.com/feross/buffer/pull/87) and for what it's worth, the tests all pass.

[2015-12-21 13:28] oskbor commented on #86
I have tested it some more all tests pass in Edge, as you said.
When i use Buffer from https://wzrd.in/standalone/buffer, I don't get these issues.
So it seems to be something in our tool chain that is causing this issue. Maybe some combination of Babel/browserify. I will continue down the rabbit hole, thanks for your assistance and for updating your tests to run on Edge

[2015-12-21 13:28] #86 closed

[2015-12-21 20:03] feross commented on #86
Thanks for updating this issue, @oskbor. If you end up discovering a bug, please do open a new issue, or comment in this one. Cheers!

[2015-12-23 23:55] scottburch commented on #79
I did a horrible patch in webpack for this issue that others might be able to use:

----  strict-stripper.js ------
module.exports = source => source.replace(/['"]use strict['"]/, '');

---- in webpack.config.js (loaders section) ------
{test: /buffer/, loader: `${__dirname}/strict-stripper.js`},

[2015-12-24 00:52] nolanlawson commented on #79
So I take it the steps to fix this bug are:

1. Add `"use strict" to the top of [index.js](https://github.com/feross/buffer/blob/96f9561e55019fd530e48886366eda74449bf002/index.js)
2. Re-run the tests
3. Fix stuff until it works

In general, it looks like this could be fixed by simply hoisting the `function Buffer () { ... }` declaration to the top of the file.

[2015-12-24 05:29] nolanlawson commented on #79
I can confirm that I can reproduce this by just adding `'use strict'` to the top of `index.js` and then running `npm run test-browser-local`. I'm not sure how to fix it.

[2015-12-24 18:46] nolanlawson commented on #79
^ fixed!

[2015-12-24 21:00] JSteunou commented on #79
nicely done, thank you!

[2015-12-25 06:37] #79 closed

[2015-12-25 06:39] feross commented on #79
Nicely done! Fix released as 3.6.0. And just like that, we're down to 0 open issues and 0 open PRs! :+1:

[2016-01-02 17:43] feross opened #90 "Remove buffer.toArrayBuffer()"
Node removed the buffer.toArrayBuffer() API sometime during node 0.11. Users who rely on it will have code that doesn't work in node.js, which is unfortunate.

Let's remove buffer.toArrayBuffer() so we have parity with node.js.

[2016-01-02 20:54] RaulTsc commented on #90
Hey, I'd like to take a stab at this if that's fine :). Will follow up tomorrow or the day after that

[2016-01-02 21:31] feross commented on #90
Should be just a simple change to delete the method. If you want to send a PR, that's fine :+1:

[2016-01-02 22:43] #90 closed

[2016-01-05 15:14] oskbor commented on #86
Bug report posted to Microsoft
https://connect.microsoft.com/IE/feedbackdetail/view/2207846/buffer-uint8array-regression-in-latest-edge

[2016-01-05 15:17] feross commented on #86
I just marked that I've also experienced the bug on the issue.

[2016-01-05 15:48] oskbor commented on #86
Thanks!
Do you have any ideas on why my build might fail while the one on wzrd.in does not? I spent all day trying to find the reason, but ended up no wiser :confused:

[2016-01-05 16:05] feross commented on #86
@oskbor Can you open a new issue?

[2016-01-09 14:08] feross opened #93 "Include `is-buffer` and `typedarray-to-buffer` tests"
Otherwise, it's unclear what will break those packages. This is extra important now that `is-buffer` is also used in browserify core.

[2016-01-09 17:25] #93 closed

[2016-01-09 17:39] feross commented on #93
Test failures expected until browserify bumps their buffer dependency.

[2016-01-13 15:57] LinusU opened #94 "Broken in Chrome 49.0.2620.0 canary (64-bit)"
My chrome updated during the night and now my stuff doesn't work anymore, fun times, I get to debug!

The first thing was actually already fixed by 5f5478a34e8ed7b9642407b062e8c5edc6799510, I just had to update to the latest version. @feross Was that commit intentionally fixing a Chrome bug?

The next problem is that `.subarray(start, end)` seems broken when the `__proto__` is tampered with.

![sc

[2016-01-13 16:14] feross commented on #94
No, https://github.com/feross/buffer/commit/5f5478a34e8ed7b9642407b062e8c5edc6799510 was just changing Safari 5-7 to use the typed array implementation.

It sounds like Chrome broke something in Canary. I opened an issue on the V8 tracker so we can fix this before this makes it farther in the release cycle. https://bugs.chromium.org/p/v8/issues/detail?id=4665

[2016-01-13 16:29] LinusU commented on #94
Hehe, that is some timing though :laughing:

The output of this script in the above stated version of Chrome alerts `false` and `true`. In Chrome Stable, Version 47.0.2526.106 (64-bit), it alerts `true` and `true`.

[code]

Conclusion: The `constructor` cannot be set in Chrome 49.

[2016-01-13 16:42] feross commented on #94
It's actually throwing the exception on `arr.subarray(1, 1)`. But it only does that because the `constructor` property was set.

Crazy timing.

[2016-01-13 17:25] feross commented on #94
Actually, the tests aren't failing because `arr.subarray` is throwing an exception. They're failing because it's returning the full array!

[code]

[2016-01-13 17:26] LinusU commented on #94
That's true, I must have missed typing out the end of that sentence :)

Hopefully this will get fixed sooner rather than later in Chrome and than we won't need to do anything at all here...

[2016-01-13 19:11] feross commented on #94
Yeah, I think let's wait a couple days. If there's no indication they plan to fix in Chrome, we can do a new release with your PR and add a big TODO to the code to remove that as soon as possible.

[2016-01-16 00:01] littledan commented on #94
This has already been fixed in Chrome Canary. Thanks for the bug report.

[2016-01-16 18:17] nolanlawson commented on #94
Closing based on https://github.com/feross/buffer/pull/95#issuecomment-172240690

[2016-01-16 18:17] #94 closed

[2016-01-28 21:01] substack opened #99 "value out of bounds for floating point Infinity"
Using browserify 13.0.0 which ships with buffer 4.3.1, I'm getting a RangeError when attempting to write a valid float value of -Infinity to a buffer:

[code]

This seems to be an issue too with doubles:

[code]

Positive infinity yields the same error:

[code]

This works fine in node:

[code]

[2016-01-28 22:23] #99 closed

[2016-01-28 22:36] feross commented on #99
Released as 4.4.0.

[2016-03-11 13:57] Sjors commented on #86
The test sweet uses Edge 13 which is ancient. This bug doesn't occur in Edge 20. It does in Edge 25. There are no VM's out there running Edge 25 as far as I know; I spent a ton of time getting my hands on a physical machine to reproduce this :-)

[2016-03-12 00:44] feross commented on #86
@Sjors EdgeHTML13 is actually pretty new. See: https://en.wikipedia.org/wiki/Microsoft_Edge#Release_history And there's no way to get a newer version with Sauce Labs right now.

To be clear, you're not reporting a new issue. Just saying that you got this bug using an old version of browserify/buffer?

[2016-03-12 09:43] Sjors commented on #86
I see, good to know EdgeHTML has different versioning from the browser.

The issue went away for me as soon as I upgraded browserify*, so indeed I'm
not reporting a new bug.

* = make sure grunt-browserify is also up to date and using browserify >=13

[2016-03-23 09:22] fanatid opened #110 "excess code in Buffer.prototype.compare"
https://github.com/feross/buffer/blob/efda3143011d6befa0771f4850351158d4b89bb2/index.js#L457

I don't understand why you checks that `b` is `Buffer` instance or that `b` equal to `this`. You do this in [Buffer.compare](https://github.com/feross/buffer/blob/efda3143011d6befa0771f4850351158d4b89bb2/index.js#L278)

[2016-03-24 02:54] feross commented on #110
Technically the error message is slightly different (not plural) for `Buffer.prototype.compare`. But you're right about checking if the two buffers are the same. Will fix.

[2016-03-24 02:54] #110 closed

[2016-04-17 12:52] fanatid opened #111 "allocUnsafe/alloc/from"
Any plans about supporting new static functions? Ref: https://github.com/nodejs/node/pull/4682/

[2016-04-19 06:00] feross commented on #111
Buffer was actually quite a bit behind the node.js buffer version on `master`. I just spent a few hours updating it to match the latest stuff. Still trying to get all the tests to pass.

[2016-04-20 06:05] feross commented on #111
So, this took way longer that I expected. Worked on it all day today too. The node.js buffer test suite has improved quite a bit, so there were a lot of bugs to fix!

PR incoming in a minute.

[2016-04-20 06:33] #111 closed

[2016-04-20 06:35] feross commented on #111
Released as 4.6.0.

[2016-04-22 15:32] Dillybob92 opened #113 "Whoever made this module.."
I fucking love you.

Say goodbye to BSON! :)

Nothing can compete with JSON's native performance. Now we can share native buffer's.... to the client. I'm in fucking heaven. Binary Websocket's HERE I  COME!!!!!!!!

[2016-04-22 22:06] feross commented on #113
Haha, nice!

[2016-04-22 22:07] #113 closed

[2016-04-28 11:45] feross opened #114 "Add missing .lastIndexOf method"
Node.js documentation for .lastIndexOf: https://nodejs.org/api/buffer.html#buffer_buf_lastindexof_value_byteoffset_encoding

@dcposch's PR: https://github.com/nodejs/node/pull/4846

[2016-04-29 10:08] feross commented on #114
@dcposch -- any interest in sending a PR to implement this? ;)

[2016-05-01 04:55] dcposch commented on #114
lol k

[2016-05-10 23:37] felix opened #118 "Call correct set method on Buffer.copy()"
This is only for v3.6.0 which is still the latest pulled in by current stable webpack (v1.13.0) via node-libs-browser. See PR #117.
An alternative is for node-libs-browser to update their dependency, see webpack/node-libs-browser#39.

[2016-05-17 01:19] feross commented on #118
I feel your pain, but I don't want to maintain two branches, a v3 and v4, just because webpack hasn't updated their dependencies. I already barely have time to maintain all my packages -- hope you understand!

There are many other bugfixes for correctness in v4, so they really should update.

[2016-05-17 01:19] #118 closed

[2016-05-17 02:07] felix commented on #118
I understand. /me sighs

[2016-05-19 13:08] dcousens opened #119 "TODO: Isolate test fixtures"
Tests like: https://github.com/feross/buffer/blob/master/test/to-string.js

Could simply be 1 function iterating over an array of:

[code]

Even if it is in the same file...  makes test extraction/addition/refactoring *sooo* much easier.

[2016-05-19 22:05] feross commented on #119
Meh, not a fan.

When a test fails, this would make it harder to tell exactly which case the test failed on.

I prefer verbose tests, and I use 'Find and Replace' regexes when I need to do massive refactoring (which is not that often).

Matter of taste, I guess.

[2016-05-19 22:05] #119 closed

[2016-05-20 00:45] dcousens commented on #119
@feross it does make using external test fixtures quite a bit more difficult?

My motivation for this was that I was intending to bring in some more UTF-8 test fixtures as well as use the existing ones in an external project.

Remembering tests can be isolated using their description,  which could be a combination of the test data that makes them unique and easily isolated,  negating:

[2016-05-23 21:54] feross commented on #119
@dcousens Can you send a PR to demonstrate what such a change might look like?

[2016-06-15 18:15] jcalfee opened #120 "Buffer.slice is broken for Windows Edge users and in Firefox developer edition"
We noticed that some Windows Edge users and in the latest developer edition of Firefox (v49) Buffer slice is failing.   We successfully worked around the problem by setting  `TYPED_ARRAY_SUPPORT = false`.  The issue happens when this.subarray(start, end) returns the wrong results.  You can see the problem with this test: `new Buffer("abc").slice(0, 2) === "abc"` .. This will return true if you hav

[2016-06-15 18:40] feross commented on #120
It looks like you're using an old version of this library. You can use `npm ls buffer` to see which packages are depending on `buffer`. The current version of `buffer` is 4.6.0.

[2016-06-15 18:40] #120 closed

[2016-06-15 18:40] feross commented on #120
This issue is fixed in the latest version of buffer.

[2016-06-16 02:01] nolanlawson commented on #120
By any chance was an issue filed on Edge as well? We care a lot about library compat and want to make sure we don't break the ecosystem.

Here's [our issue tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/). A complete Gist to reproduce would be really helpful (or at least which version of `buffer` you're using so that we can reproduce).

[2016-06-16 02:55] feross commented on #120
@nolanlawson This issue was fixed by https://github.com/feross/buffer/pull/97 a while ago.

[2016-06-16 04:29] nolanlawson commented on #120
Ah OK, got it. I'll add a comment to the Mozilla bug.

[2016-06-18 16:07] kawanet opened #121 "IE10: Object doesn't support property or method 'fill'"
It looks the current version 4.6.0 does not work on IE10.

- IE9 + buffer 4.6.0 - OK
- IE10 + buffer 4.6.0 - NG
- IE11 + buffer 4.6.0 - OK
- IE10 + buffer 4.1.0/4.5.1 - NG
- IE10 + buffer 3.6.0/4.0.0 - OK

[2016-06-18 16:10] kawanet commented on #121
How to reproduce the problem:

[code]

- `123` on document body: OK
- `Object doesn't support property or method 'fill'` error on console: NG

[2016-06-18 16:28] kawanet commented on #121
This does not work on IE10:

[code]

This does work on IE10:

[code]

[2016-06-18 17:24] kawanet commented on #121
I got the reason.

The "IE10" I mentioned above is an IE10 mode on the IE11 switched with the built-in developer tools.

It works on the original IE10.

- IE10-on-IE11 has TYPED_ARRAY_SUPPORT = true
- The original IE10 has TYPED_ARRAY_SUPPORT = false

[2016-06-19 23:38] nolanlawson commented on #121
So if I understand correctly, this only fails when you're using IE11 but
trying to emulate older IEs via the doctype switch?

[2016-06-20 01:23] kawanet commented on #121
@nolanlawson Right.

I found this when testing another application for IE10 but on IE11.

![ie10](https://cloud.githubusercontent.com/assets/9765/16181030/9af35a06-36cf-11e6-9d8c-867e693067e8.png)

Any developers who want to test on the environment would face the problem.
It seems that it has happened since 12a3318 of v4.1.0.
The patch 23548e7 respects the new way of augmentation using `__proto__`

[2016-06-22 11:11] feross commented on #121
Thanks for digging into this. I just confirmed what you found. This is definitely a developers-only edge case, but you're right to point out that the code that's checking for typed array augmentation should just check if `__proto__` can be set, since that's what we do now.

Released as 4.6.1.

[2016-06-22 11:11] #121 closed

[2016-07-13 22:25] RobertBaron opened #123 "TypeError: Could not convert argument 1 to a number"
Getting
[code]

With function fromArrayBuffer:256
[code]

On
 - Android 4.4.4, Android 4.2.2
 - UC Browser 10.10.5, 10.10.0, 10.9.8

[2016-07-15 06:39] feross commented on #123
@dcousens Is this a bug you were able to confirm? I usually reserve the `bug` label for bugs that I can actually reproduce.

@RobertBaron Do you have a code example that can consistently reproduce the error?

[2016-07-15 06:43] dcousens commented on #123
@feross no,  I don't have an Android device or environment at those versions.  Removed tag.

[2016-07-15 06:56] feross commented on #123
@RobertBaron UC Browser is not a supported browser. Sauce Labs doesn't even offer that for testing.

I was able to reproduce the issue you described on Android 4.2 and 4.3 with the following code:

[code]

It happens because apparently the `Uint8Array` constructor on those versions of Android Browser can't handle the second argument being `undefined`. Instead the second argument (which is optional

[2016-07-15 07:03] #123 closed

[2016-08-02 01:15] marr opened #124 "Buffer.from not converting to string when built with webpack"
Hi,
Thanks for this library, I am excited to use it for some base64 encoding.

I illustrated an error I found here https://github.com/marr/buffer-shim

Basically, running `npm test` fails due to something with Buffer not being shimmed properly with webpack.

In node, when I execute: `Buffer.from('foo').toString('base64')` the output is `Zm9v`.
In a webpack bundled version, that code returns `AAAA`

[2016-08-02 02:18] dcousens commented on #124
Could you provide details that might allow us to look into this without investigating your library line-by-line?

[2016-08-02 23:04] marr commented on #124
@dcousens My library is only three lines:

[code]

When I use that in pure node, it passes. When I webpack that file, which imports the buffer lib, I see the output from `Buffer.from('foo').toString('base64')` equal to `AAAA`.

[2016-08-03 01:34] feross commented on #124
The version of `webpack` that you're using is giving you an old (3.x) version of `buffer`.

You can confirm this by running `npm ls buffer` and checking the version that shows up. The latest version is 4.7.1.

You can file an issue with `webpack`, or it looks like you can install the latest beta of webpack (2.x). `npm install webpack@beta --save`

[2016-08-03 01:34] #124 closed

[2016-08-08 05:12] feross commented on #114
Yo @dcposch, no pressure, but this issue is still open if you want it 😉

[2016-08-08 05:20] dcposch commented on #114
sure, on it

[2016-08-08 08:42] feross commented on #114
Awesome! Fixed by #127

[2016-08-08 08:42] #114 closed

[2016-08-09 02:32] dcousens opened #130 "Reverse / map / filter / reduce / every / some"
`Buffer.prototype.[reverse / map / filter / reduce / every / some]` exists in node `v6.3.1`,  implementation could be grabbed directly from https://github.com/crypto-browserify/buffer-reverse

[2016-08-09 04:29] fanatid commented on #130
`Buffer.prototype.reverse` only needed for object implementation. Except `reverse` object implementation also doesn't have `map` / `filter` / `reduce` / etc..

[2016-08-10 05:17] feross commented on #130
I don't think it's reasonable or important to support these methods in browsers that lack typed array support.

Usage of `reverse` / `map` / `filter` / `reduce` / `every` / `some` in real-world npm packages is likely low or non-existant because:

1. These methods are [not documented](https://nodejs.org/api/buffer.html) in the Node.js docs
2. There are zero tests that uses these methods in the buff

[2016-08-10 05:17] #130 closed

[2016-08-10 22:14] dcousens commented on #130
Is that to say it will be implemented in the future?

[2016-08-10 22:31] feross commented on #130
They're already implemented. The methods are inherited from the superclass `TypedArray.prototype`. But they only work correctly in browsers that support typed arrays and Array subclassing. Today, that's the latest versions of Chrome/Opera, Firefox, Edge, and Safari (technology preview).

[2016-08-17 01:15] amasad opened #131 "Firefox 48 subarray returns the wrong thing"
Firefox 48 includes a regression in Uint8Array.prototype.subarray which makes it return the full array instead of the subarray. We can probably catch it in `typedArraySupport`

[code]

[On RequireBin](http://requirebin.com/?gist=2405f809be7771109ce0ac172804bc1b)

[2016-08-17 01:20] amasad commented on #131
I'm curious why is Firefox the only browser not in the saucelabs tests?

[2016-08-17 05:39] kkHAIKE commented on #131
may be new version fix it
https://github.com/feross/buffer/pull/97

[2016-08-17 08:49] rubensayshi commented on #131
seems to be fixed with updated browserify

[2016-08-17 18:10] amasad commented on #131
Oh ok, the folks at Mozilla also mentioned it's fixed with the new browserify. Now the problem is with webpack 1.x

[2016-08-17 18:10] #131 closed

[2016-08-18 01:52] feross commented on #131
@amasad Glad you got this figured out. Btw, Firefox is tested, but the badge was having some issues updating recently.

[2016-09-13 22:07] dcousens opened #133 "UTF8 decoding differs from Node"
### Code
[code]

### Results

**node v6.5.0**
[code]

**Chromium 53.0.2785.101**
[code]

[2016-09-13 23:29] jessetane commented on #133
@dcousens is your document's character encoding set to utf-8?

`<meta charset=utf-8>`

[2016-09-13 23:38] dcousens commented on #133
@jessetane nailed it.

How do we help make that obvious... can we perhaps inform users?

[2016-09-14 00:07] jessetane commented on #133
Interesting idea, something like `if ('ト'.length !== 1) throw new Error('encoding error')`?

[2016-09-14 00:09] dcousens commented on #133
When the effect is so subtle,  I think such an error would be greatly appreciated by most users.

[2016-09-14 00:16] jessetane commented on #133
For what it's worth it looks like Firefox actually already does warn if your document's encoding is unspecified.

[2016-09-14 16:51] feross commented on #133
Wow, I had no idea that the html document encoding could affect javascript strings! I guess that's just because I always use a utf8 document encoding.

[2016-09-14 16:52] feross commented on #133
Sent a PR to fix this: https://github.com/feross/buffer/pull/134

[2016-09-14 18:13] jessetane commented on #133
Just to be precise about why this happened: the browser can only guess what encoding a source file is in unless you specify it via meta tag or http header. Of course everyone stores text files as utf-8 these days, but for backward compatibility the browser probably assumed iso-8859-1 and so OP just experienced this mismatch.

[2016-09-14 18:18] feross commented on #133
@jessetane Thanks for the explanation. Lmk if you you think the wording could be improved in the PR.

[2016-09-14 19:34] #133 closed

[2016-09-14 19:34] feross commented on #133
Closing, see PR for explanantion.

[2016-09-16 11:40] jonasschnelli opened #136 "Buffer.prototype.slice does not work on iOS 10"
I tracked down an issue on cordova (includes node.js) where `Buffer.prototype.slice` result in returning the same value as the input buffer.

In iOS <10, this results shifting out 16 bytes:
[code]
In iOS 10, `this.cache` will be unmodified.

I haven't tracked it down, but seems to be a `Buffer.TYPED_ARRAY_SUPPORT` problem.
If I remove the if at https://github.com/feross/buffer/blob/c5267f419f51088

[2016-09-16 15:36] feross commented on #136
@jonasschnelli Can you share the version of `feross/buffer` that you're using? `npm ls buffer` should help 👍

[2016-09-16 17:48] feross commented on #136
This is due to ES6 support improving in Safari. This issue was fixed a while ago.

It looks like you're not using the latest version of `buffer`. Please update browserify to v13.x. If you're already on v13.x, then reinstall it to ensure that the latest version of `buffer` is being used.

Cheers!

[2016-09-16 17:48] #136 closed

[2016-09-16 18:37] jonasschnelli commented on #136
Thanks. I'll try to bump to the latest version,

[2016-09-19 14:35] psionic81 commented on #136
var arr = Uint8Array.from([1, 2, 3, 4])
arr.subarray(0, 2).byteLength

is returning "2" on every other platform, and "1" on ios10

traced it to the function:

Buffer.TYPED_ARRAY_SUPPORT = global.TYPED_ARRAY_SUPPORT !== undefined
        ? global.TYPED_ARRAY_SUPPORT
        : typedArraySupport()
        function typedArraySupport () {
            try {
                var arr = new Uint8Array(1)

[2016-09-19 21:38] feross commented on #136
@psionic81 Returns 2 for me.

As stated before, please ensure you're using the latest version of `buffer`.

[2016-09-19 23:50] psionic81 commented on #136
yep your suggested fix worked fine, thanks for posting it took *so long* to track this down to the library that had the dependancy that was the issue.. thanks for making your standards completely unstandard apple lol

[2016-09-26 09:30] ericdum opened #140 "thrown error when accessing global"
https://github.com/feross/buffer/blob/master/index.js#L43

[2016-09-26 20:26] feross commented on #140
This package is meant to be used with `browserify` which does define a `global` variable. As a workaround, you can set `window.global = window` before using this package in your code.

However, this line is going to be removed in the coming v5 release anyway. You can also just wait until then.

[2016-09-26 20:26] #140 closed

[2016-09-29 07:39] lamaslam commented on #136
I have update Buffer to 5.0.0, browserify to 13.1.0, still has that problem.

it craps on 	Buffer.prototype.slice  function

	    newBuf = Buffer._augment(this.subarray(start, end))

that subarray return same buffer. it is problem of iOS 10 ?

[2016-09-29 10:07] dragonnn opened #144 "Standalone version server error 503"
I want to user the standalone version but the page is broken :/. Can you fix that or upload it somewhere other?
https://wzrd.in/standalone/buffer

[2016-09-29 18:03] feross commented on #144
I just notified @maxogden that `wzrd.in` is down. Should be resolved shortly.

In the meantime, you can generate your own standalone version by git cloning this repo and running:

[code]

[2016-09-29 18:06] feross commented on #136
@lamaslam Where did you find that call to `Buffer._augment`? That was removed in buffer v4. If you see that in your code, then you're using buffer v3 or older somewhere, so it's not surprising that you're still experiencing this bug.

Also, you don't need to explicitly install or depend on this `buffer` package. Just install `browserify` v13 and you'll be fine. Double check that you're using the r

[2016-10-13 06:06] candeira opened #145 "length property not available"
How to find the length of a Buffer instance?
[code]

[2016-10-13 07:06] feross commented on #145
What environment are you running in? I can't imagine this isn't working correctly. I'll reopen once/if this is confirmed as a bug.

[2016-10-13 07:06] #145 closed

[2016-10-13 07:15] dcousens commented on #145
Hey Javier :smiley: ,
Can you provide more contextual information?
That certainly doesn't look right.

[2016-10-13 08:37] candeira commented on #145
Yeah, I'm doing weird things with the library, running it after vendoring it into an OS project I'm working on (https://github.com/pybee/batavia.git), and I'd broken the module. In my discharge, I'm a Python programmer writing JS... but I apologise for making an issue out of some half-baked misunderstanding.

I'm having a different issue now, I don't know whether because of something I've done or

[2016-10-13 11:14] dcousens commented on #145
@candeira are you using browserify? I feel like this could related to the weird way you've bundled it.

[2016-10-13 11:23] candeira commented on #145
We're not using browserify nor other toolchains, yet. We're bundling it by folding it in by hand, like cavepeople, until we can figure out how it should be done.

[2016-10-13 12:38] dcousens commented on #145
[code]

`vendor.js`
[code]

[code]

You will now be able to use <script src="app.js" /> in your browser, with each of the above exports accessible via the global `boop` object (or whatever you chose for the --standalone parameter above).

[2016-10-14 01:02] candeira commented on #145
Thanks, dcousens. I'll give it a go integrating it with the rest of the mess we've built, which includes a lot of non-npm JS modules in namespaces, and let you know how I go.

I'd also happily shout you drinks/dinner and show you what we have so far, if you have a free hour to spare some time in the next couple of weeks.

[2016-10-14 01:12] feross commented on #145
Even simpler:

[code]

Then use buffer.js and you'll have a `buffer` global. The Buffer constructor is on `buffer.Buffer`.

[2016-10-14 01:15] candeira commented on #145
Thanks feross as well. Right now batavia concatenates all JS with a simple Makefile, and we just make sure we namespace everything. It might make sense for us to write our code as JS modules and have browserify bundle up everything, so we can keep using our namespaces. I'll try and figure it out.

It's all a learning curve. I'm now glad I opened this (blatantly wrong) issue, and I appreciate the k

[2016-10-14 06:00] candeira commented on #145
Thanks feross and dcousens. I have browserify vendoring batavia's external dependencies, and it's now integrated with batavia's troglodyte make/cat JS bundler. Much appreciated.

[2016-10-15 02:05] dcousens commented on #145
And working too?

[2016-10-18 14:00] candeira commented on #145
All working now too, with new hotness thanks to yarn. My problem was mostly ignorance of the platofrm, growing pains. Thanks again.

[2016-10-19 07:07] fanatid opened #147 "keys and values methods"
https://nodejs.org/api/buffer.html#buffer_buf_keys
https://nodejs.org/api/buffer.html#buffer_buf_values

Should this package supports this methods?

[2016-12-02 22:54] feross commented on #147
These methods are already supported. They come for free because we inherit from `Uint8Array`.

[2016-12-02 22:54] #147 closed

[2017-01-24 15:51] smcatala opened #151 "compatibility issue of standalone bundle in jsfiddle"
strangely enough, the example from the Node documentation for [Buffer.from(string, [encoding])](https://nodejs.org/api/buffer.html#buffer_class_method_buffer_from_string_encoding)
does not seem to work in jsfiddle when using the [standalone bundle](https://wzrd.in/standalone/buffer):
https://jsfiddle.net/2szjx8zp/ (tested in Chrome and Firefox)

the example can be made to work by replacing `Buffer

[2017-01-24 23:18] feross commented on #151
It looks like the version of buffer served by https://wzrd.in/standalone/buffer is v4.x, not v5.x. I suspect this is because browserify is still bundling v4.x of this package. I'll get that updated soon.

If you test with the latest version of the code in this repo, you'll see that your code sample works just fine.

[2017-01-24 23:18] #151 closed

[2017-02-02 16:30] Lyrencropt opened #152 "use of console.error is causing errors downstream"
I'm not certain if this qualifies as a "bug" in the usual sense, but we have a bundle that sometimes runs in a very old environment (IE 5). Buffer is included as part of this bundle, but doesn't run -- that is fine, because we don't actually use it when we're in this environment. However, the recent update it is causing it to break simply by including it, due to console being undefined.

I have se

[2017-02-02 20:01] feross commented on #152
@Lyrencropt Yes, this is totally reasonable. Done in 5.0.3.

[2017-02-02 20:01] #152 closed

[2017-02-09 11:08] legokichi opened #154 "5.0.4 has broken change"
[code]

[code]

[code]

in 5.0.3
[code]

in 5.0.4

[code]

[2017-02-09 21:27] feross commented on #154
@legokichi What version of browserify are you using? I tested with browserify v14 and could not reproduce the issue. Closing until enough info to reproduce is provided.

[2017-02-09 21:30] feross commented on #154
Nevermind -- reinstalling browserify (which pulls in the latest `buffer`) and I can repro this now.

[2017-02-09 22:00] feross commented on #154
It turns out that it's not possible to use `instanceof Buffer` safely, like I thought.

It's not possible to use `instanceof Buffer` reliably in a browserify context because there could be multiple different copies of the 'buffer' package in use.

This previous method (checking `buf._isBuffer`) works even for Buffer instances that were created from another copy of the `buffer` package.

NOTE: It's

[2017-02-09 22:06] #154 closed

[2017-02-09 22:12] feross commented on #154
Released as 5.0.5.

[2017-02-10 03:29] legokichi commented on #154
thanks a lot 😄

[2017-02-12 03:55] ysobolev opened #156 "Throws encoding error when used with readSync"
The following code throws an exception in node v6.x (and earlier):
[code]
The reason is that in `fs.js` in the node distribution, the `readSync()` function contains:
[code]
See https://github.com/nodejs/node/blob/v6.x/lib/fs.js#L705

As a result, the function thinks it is being passed a string and the length ends up being passed in as the encoding.

I realize this is fixed in later version of node

[2017-02-12 05:47] feross commented on #156
Is there a particular reason that you're using this buffer implementation in Node.js?

I don't recommend passing this Buffer implementation into functions from Node.js core packages, like `fs`. These buffers will not be treated as real Node.js buffers because they fail a `instanceof Buffer` check. Things still might work out, since they're still a subclass of `Uint8Array` and they have a `length`

[2017-02-12 05:47] #156 closed

[2017-02-16 15:39] srsudar opened #157 "Converting between Buffer and browser built-in types?"
I appreciate the parity with node's Buffer API. However, some of the browser APIs I'm working with expect things like `ArrayBuffer` and `Blob`. I would love a section in the readme talking about the preferred way to convert both to and from `Buffer` and these objects. Linking to your [blob-to-buffer](https://github.com/feross/blob-to-buffer) library would be great, eg, or a pointer to what to do n

[2017-02-21 08:05] feross commented on #157
Sure thing, just sent a PR with recommended conversion methods: https://github.com/feross/buffer/pull/158

[2017-03-02 08:13] #157 closed

[2017-03-24 09:12] andreamancuso commented on #121
Hello folks, I have come across this issue using native IE10 (on VirtualBox Win7). I suppose I'm just very unlucky?

[2017-03-24 17:55] feross commented on #121
@andreamancuso Please ensure that you're using the latest version of buffer. Try running `npm ls buffer` and confirm that the version is later than 4.6.1

[2017-03-24 18:12] andreamancuso commented on #121
Hi, my apologies, it was caused by the 'request' module in fact. I switched to isomorphic-fetch and everything is working fine now.
Best, Andrea

[2017-04-06 12:00] epoberezkin opened #160 "5.0.6 release issue in node 5/6"
It seems to me that 5.0.6 release causes this issue in [Ajv](https://github.com/epoberezkin/ajv) (via browserify):
https://travis-ci.org/epoberezkin/ajv/builds/219160223

Nothing else has changed in the dependencies.
I will investigate.

[2017-04-06 18:56] epoberezkin commented on #160
Specifically this commit breaks it: https://github.com/feross/buffer/commit/24d98b901d826ddb8de43389c494a8dd91fd99bc

[2017-04-06 20:26] epoberezkin commented on #160
Specifically, [line 256](https://github.com/feross/buffer/commit/24d98b901d826ddb8de43389c494a8dd91fd99bc#diff-168726dbe96b3ce427e7fedce31bb0bcL256), but only when browserified bundle of [nodent](https://github.com/MatAtBread/nodent) package is uglified.

[2017-04-06 21:12] epoberezkin commented on #160
Also, if I insert `if (obj === undefined) throw new Error;` after the line 254 everything works (uglified).

But if I insert `if (obj === undefined) throw new TypeError;` instead, it fails...

[2017-04-06 21:30] feross commented on #160
@epoberezkin Thanks for reporting the issue. The commit you linked (https://github.com/feross/buffer/commit/24d98b901d826ddb8de43389c494a8dd91fd99bc) was essentially reverted with this commit (https://github.com/feross/buffer/commit/32e7af9ba9db3abf5f064ea21da8b1336cdf934f) before 5.0.6 was released, so it doesn't seem like it could be the one causing the issue.

[2017-04-06 22:00] epoberezkin commented on #160
@feross thank you for looking into it. It's not that I am afraid. All commits starting from https://github.com/feross/buffer/commit/24d98b901d826ddb8de43389c494a8dd91fd99bc until v5.0.6 fail for me.

And even if I revert https://github.com/feross/buffer/commit/c265a5491532e9f94d08849d6fa70df69c4cdaef it still fails.

The last commit that passes is 2ac965b

To summarize, I do the following:
1. gene

[2017-04-06 22:14] MatAtBread commented on #160
Can you provide me with a simple Uglify CLI or test case i can examine? Which nodent revision seems to fail?

[2017-04-06 22:17] epoberezkin commented on #160
@feross Ok, I think I am beginning to understand...

In v5.0.5 and in 2ac965b in the lines [633](https://github.com/feross/buffer/blob/v5.0.5/index.js#L633) and [764](https://github.com/feross/buffer/blob/v5.0.5/index.js#L764) this package uses global isNaN and not locally defined isnan.

isNaN is different from Number.isNaN and from shim that does `x !== x` - isNaN coerces it's argument to number

[2017-04-06 22:17] feross commented on #160
I don't use nodent or know what it is. Here is a full list of the changes to `buffer` between v5.0.5 and v5.0.6. https://github.com/feross/buffer/compare/v5.0.5...master#diff-168726dbe96b3ce427e7fedce31bb0bc

@epoberezkin I don't see what in this set of changes could cause your issue, but happy to take a look if you can show a minimal test case, or if you send a PR to fix the issue.

[2017-04-06 22:21] epoberezkin commented on #160
Also `isNaN('foo')` is `true`, `Number.isNaN('foo')` is false.

[2017-04-06 22:21] feross commented on #160
Btw, I just noticed that the individual commit you linked (https://github.com/feross/buffer/commit/24d98b901d826ddb8de43389c494a8dd91fd99bc) contains a bug where it reorders line 255 and 256, but that gets fixed in a later commit. This looks like an artifact of the way I interactively committed the individual lines.

But all the commits taken together don't move that line around.

[2017-04-06 22:24] feross commented on #160
We're not using `Number.isNaN` in 5.0.6. That was removed in a later commit before 5.0.6 was released.

Also, we never pass a non-string value into the replacement `numberIsNaN` function, so this difference does not matter.

[2017-04-06 22:25] epoberezkin commented on #160
see my last 2 comments above - the issue seems to be caused by the difference between `isNaN` (that does coercion) and `isnan` shim that does not. This difference was removed from 5.0.6.

[2017-04-06 22:26] epoberezkin commented on #160
I understand it. But the shim you use behaves exactly as Number.isNaN - it does not do coercion. Global isNaN that yo used in 5.0.5 does coercion.

[2017-04-06 22:27] feross commented on #160
We never pass a non-string value into `numberIsNaN`, so the difference between the two implementations does not matter.

If you have a test case that shows otherwise, please provide it.

[2017-04-06 22:28] epoberezkin commented on #160
Apparently something does... If you pass undefined the result is also different. isNaN() === true and isnan() === false.

[2017-04-06 22:29] feross commented on #160
Sorry, I meant we never pass a **non-number** value into `numberIsNaN`.

[2017-04-06 22:43] feross commented on #160
It's not possible to debug this issue without additional information. If you have a test case that shows the issue, I'm happy to re-open this.

[2017-04-06 22:43] #160 closed

[2017-04-06 22:49] epoberezkin commented on #160
Not sure I understand. This `buffer` package is inserted by browserify in ALL packages that use node.js `buffer`, so somehow non-number is passed. If non-number was never passed, it would not have behaved in a different way when I replace isNaN with isnan.

I will try to create a smaller test case.

In any case 5.0.5 -> 5.0.6 seems to be a breaking change and there is nothing I can do to fix the v

[2017-04-06 22:52] epoberezkin commented on #160
So I'd really appreciate if you could fix it's version in browserify until we figure out what is going on here...

I can create an issue there if needed.

[2017-04-06 23:11] feross commented on #160
You can fix the version of `buffer` that is used in your app like this:

[code]

[2017-04-06 23:12] epoberezkin commented on #160
Thank you, I will try it.

[2017-05-12 22:49] davscro opened #161 "Ends up in production build :-S"
Hi all,

could someone explain me why this package ends up in production build. Am I missing something?

<img width="677" alt="screen shot 2017-05-13 at 00 43 56" src="https://cloud.githubusercontent.com/assets/1383250/26019395/4e35cef4-3775-11e7-91ff-f4add91f410d.png">

```yarn why buffer```

<img width="538" alt="screen shot 2017-05-13 at 00 45 25" src="https://cloud.githubusercontent.com/assets

[2017-05-13 01:51] dcousens commented on #161
I suspect this might be a question for webpack, not this module.

[2017-05-14 15:01] davscro commented on #161
Ok, thanks for your feedback...
Best,
Davor

[2017-05-14 15:01] #161 closed

[2017-06-16 21:54] njj opened #163 "Uncaught TypeError: function Buffer(arg)"
[code]

Has anyone seen an error similar to this caused by this lib?  I can't seem to figure out why its happening around the time of `request.write`.

[2017-06-19 16:28] njj commented on #163
Closing as I fixed this issue locally by upgrading browserify to the latest version, the issue had to do w/ `Buffer.from` https://github.com/ChALkeR/notes/blob/master/Buffer-knows-everything.md

[2017-06-19 16:28] #163 closed

[2017-06-27 22:48] dfcreative opened #164 "Inconsistent with TextDecoder API"
Not sure where does it belong, but `Buffer` stringifies some utf-8 chars differently than [`TextDecoder`](https://developer.mozilla.org/en-US/docs/Web/API/TextDecoder/decode):

[code]

[2017-06-27 23:24] jessetane commented on #164
This module aims for compatibility with node's Buffer rather than TextEncoder/Decoder, but as of version 8, it appears node's behavior with respect to replacement character insertion has changed. I'll start looking into this, if anyone knows off hand what changed in node, please let me know.

[2017-06-27 23:45] dfcreative commented on #164
@jessetane another think I spotted is inconsistent with node `Buffer` utf8 replacement cases:

[code]

I use v8.1.2

[2017-06-28 00:32] jessetane commented on #164
I glanced at the changelog for 8 and pulled the new tests, looks like quite few other things may have changed too... anyone out there already been thinking about this update yet?

[2017-07-23 06:10] jvilk opened #166 "Safari: ArrayBuffers are sometimes not `instanceof ArrayBuffer`"
## Summary

I'm storing and retrieving ArrayBuffer objects from IndexedDB, and I noticed that in my test environment, the ArrayBuffer objects are not always `instanceof ArrayBuffer` in Safari. As a result, the Buffer package throws the following exception:

This behavior does not occur in any other web browser.

## Detailed Explanation

The test environment is that of the Karma test runner, which

[2017-07-31 13:14] rubensayshi opened #167 "iPhone iOS < 10 missing .reverse"
running on iPhone6 iOS8 and iOS9 simulator fails with reverse being undefined, iOS10 is fine,
is the lack of iOS < 10 support intentional or could we add a `reverse` polyfill?

(looking at stats for our app we see 2.4% iOS 9.3 and rest is all 10+)

[2017-08-04 13:58] marsielko opened #169 "Buffer without browserify"
Hello, can you please reupload standalone bundle for non-browserify users. Link in you have there doesn't work anymore.

[2017-08-04 22:07] feross commented on #169
The service that generates the build is temporarily down due to an expired certificate. They will be back eventually. In the meantime, you can run this to create your own bundle:

[code]

Now use `buffer-bundle.js` wherever you want.

[2017-08-04 22:07] #169 closed

[2017-08-04 22:08] feross commented on #167
Sorry -- we can't polyfill this. This is part of the `Uint8Array` API, not part of Buffer. If we started polyfilling every API on `Uint8Array`, this library would get huge. That's out-of-scope for this package as far as I'm concerned. But feel free to include the polyfill separately in your own code.

[2017-08-04 22:31] feross commented on #161
If any of the modules that you use (directly or indirectly) in your bundle refer to the `Buffer` global or do `require('buffer')`, then this package will be included. This is because `Buffer` is not defined in the browser, only Node.js, but some packages on npm assume that it exists. To ensure that these packages can work in the browser, your bundler will include this package to "polyfill" support

[2017-08-04 22:31] feross commented on #166
Interesting... `instanceof` is really quite terrible, isn't it?

Please see this PR with a potential solution: https://github.com/feross/buffer/pull/170 Let me know if that works for you. If so, I'll merge it and do a new release.

[2017-08-04 22:35] feross commented on #164
@jessetane Nope, I have not looked into the changes. Not sure what exactly changed. If you want to look into it, that would be great

You can pull in the latest node.js tests by running `./bin/download-node-tests.js`. We don't have to make all the new tests pass in one go, but can merge them in selectively until they all pass. That's what I've done in the past.

[2017-08-04 22:58] jvilk commented on #166
I want to agree with you, but I can't really blame JavaScript on this one! `instanceof` is only intended to check if the object was constructed by a particular function, which is totally reasonable. I'd blame the unnecessarily complex native interface between JavaScript code and the web browser, which makes it possible to have multiple constructors for the same type of object! Really, browsers sho

[2017-08-05 01:16] dcousens commented on #167
@feross `Buffer` has `reverse` in Node?

[2017-08-05 01:21] dcousens commented on #167
This has caught me out too.

[2017-08-05 01:37] #166 closed

[2017-08-05 01:39] feross commented on #166
Released as 5.0.7

[2017-08-05 22:54] davscro commented on #161
hi @feross
thanks for your answer...I already found why this module endsup in production build. Take a look at https://github.com/mzabriskie/axios/issues/901

[2017-08-07 10:31] rubensayshi commented on #167
Node had `Buffer.reverse`, but it's not documented here: https://nodejs.org/api/buffer.html

[2017-08-07 13:11] dcousens commented on #167
@rubensayshi it appears node inherits from `UInt8Array`,  https://github.com/nodejs/node/blob/master/lib/buffer.js#L231,  so as @feross said:

Frustratingly,  this doesn't really leave us in a fortunate position... I suspect `buffer-reverse` is the only reasonable option to roll-out to ... every repo?

[2017-08-10 04:56] #167 closed

[2017-08-11 08:16] CrazyWr opened #171 "a curious phenomenon about Buffer.from()"
`const FF = Buffer.from([0xFF])`
`const O_2 = Buffer.from([0x00])`
`const O_4 = Buffer.from([O_2, O_2])`
`const O_8 = Buffer.from([O_4, O_4])`
`console.log(O_8.length)  => 2`
`O_8  => 0x0000  not  0x0000 0000 `

but
`const FF = Buffer.from([0xFF])`
`const O_2 = Buffer.from([0x00])`
`const O_4 = Buffer.from([O_2, O_2])`
`const O_8 = Buffer.from([O_2, O_2, O_2, O_2])`
`console.log(O_8.length)  => 4

[2017-08-13 16:19] rubensayshi commented on #167
"The goal is to provide an API that is 100% identical to node's Buffer API."

To me that sounds like this lib is to ensure any buffer methods available in NodeJS would also be available in browsers..?

[2017-08-17 16:22] feross commented on #171
You put four bytes into the Buffer (`Buffer.from([O_2, O_2, O_2, O_2])`) and the length is 4. This is expected, unless I'm missing something.

[2017-08-17 16:22] #171 closed

[2017-08-20 14:30] CrazyWr commented on #171
I kown `Buffer.from([O_2, O_2, O_2, O_2]` length is 4, it's good
I  just want to know why is the lenth of`Buffer.from([O_4, O_4])` 2 not 4
`const O_2 = Buffer.from([0x00])`
`const O_4 = Buffer.from([O_2, O_2])`
`const O_8 = Buffer.from([O_4, O_4])`
`console.log(O_8.length) => 2`

[2017-08-28 16:27] NekR commented on #164
Node's `Buffer` is now backed by the Typed Arrays hence `var str2 = Buffer.from(uint8).toString('utf8')` results in `var str2 = Buffer.from(uint8).toString('utf8') //��`

[2017-09-03 15:00] zyuhel opened #172 "Inconsistent with nodejs"
Hello,
i'm using the following buffer

[code]

and toString('utf8') results are different in NodeJS and in browsers.

It seems that some characters that some sequence which nodejs replace to U+FFFD are more lengthy than the replaced sequence in browser. so output utf8 string is different

[2017-09-12 17:07] mbloch opened #173 "Consider updating Buffer.concat() to accept Uint8Array instances"
In v8.0.0, Node's `Buffer.concat()` function started accepting `Uint8Array`s. It would be nice to add this behavior to the shim.

[2017-09-13 01:18] dcousens commented on #173
`s/Browser/Buffer`?

[2017-09-13 01:24] mbloch commented on #173
Silly me, fixed now.

[2017-09-18 23:34] blake-regalia opened #174 "Buffer.prototype.copy"
Forgive me if this was already addressed in another thread but it strikes me as odd.

It seems we should take advantage of [TypedArray#copyWithin](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/copyWithin) for the `this === target` conditional branch in the current [Buffer.prototype.copy](https://github.com/feross/buffer/blob/a50b8e35991255b21dbad23a189

[2017-09-24 20:42] banezelenak commented on #172
Hi,

Any updates on this issue?

Since I installed newer version of Chrome (60+) the values for toString('hex') differentiate from those in NodeJS, and it is causing big issues for object serialization/deserialization.

[2017-09-24 23:09] dcousens commented on #172
@banezelenak please post your test fixtures and Chrome version for that issue!

[2017-09-24 23:10] dcousens commented on #172
@zyuhel can you please post the different results you get and what browsers you used?

[2017-09-24 23:11] jessetane commented on #172
this and #164 should likely be merged

[2017-09-24 23:16] dcousens commented on #172
Closing in favour of #164,  but @zyuhel and @banezelenak please don't hesitate to add your test fixtures to that issue!

[2017-09-24 23:16] #172 closed

[2017-09-24 23:17] jessetane commented on #172
the tests are already in node. to get them just do `./bin/download-node-tests.js`

[2017-10-29 22:25] danielmangia opened #175 "global is not defined"
During execution of angular application I get the following error

webpack-internal:///../../../../node-libs-browser/node_modules/buffer/index.js:43 Uncaught ReferenceError: global is not defined
    at eval (webpack-internal:///../../../../node-libs-browser/node_modules/buffer/index.js:43)
    at Object.../../../../node-libs-browser/node_modules/buffer/index.js (vendor.bundle.js:607)
    at __web

[2017-10-30 03:08] danielmangia commented on #175
Actually this is caused by angular cli 1.5.0-rc.3
https://github.com/angular/angular-cli/releases/tag/v1.5.0-rc.3
in which node global is tuned off. It works fine if I manually turn it on again.

[2017-10-30 03:08] #175 closed

[2018-01-09 14:45] vmx opened #177 "Tests are out of sync with Node.js tests"
When running `./bin/download-node-tests.js` it's apparent that the tests are heavily out of sync with the Node tests.

I plan to go over them an resync things. I open this issue to prevent double work, so a "go for it" from the maintainers would be appreciated.

[2018-01-09 14:55] ralphtheninja commented on #177
I'm not a maintainer, but I'll say "go for it" anyway :grinning:

[2018-01-22 17:33] Darker opened #179 "Does not work in web workers"
[code]
This code logs `ReferenceError: Buffer is not defined`. I downloaded the code from here: https://wzrd.in/standalone/buffer

[2018-01-27 02:53] feross commented on #179
Try this:

[code]

[2018-01-27 02:53] #179 closed

[2018-01-29 06:39] feross commented on #164
Closing this since this package does not have a goal of being consistent with `TextDecoder`

[2018-01-29 06:39] #164 closed

[2018-01-30 18:50] jared-laethem opened #180 "Question about slice"
Attempting to use this library to be able to leverage buffer in a Rhino (for Java) based server JavaScript environment. Running into an issue with the slice method of buffer, that the resulting buffer is a copy versus a reference to the original buffer. Trying to understand the behavior a little better. The implementation of slice in this library loops over and assigns each index from the original

[2018-01-30 22:02] jared-laethem commented on #180
Think I answered my own question. I wasn't looking at source code when referencing a routine that assigned each array value to the new array in slice, I was looking at generated code that had come through an es3 transpiler. The code I saw would always do a copy but it wasn't the code that would be run unless you were going through my build process. Closing this.

[2018-01-30 22:02] #180 closed

[2018-02-16 04:37] feross commented on #174
Good suggestion.

This package was written before `copyWithin` existed. We can use it optimistically, but we still need a fallback for IE11 and Safari 8. See [MDN compat table](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/copyWithin#Browser_compatibility).

I ran a benchmark and arrived at `1000` below which set performance was worse, but honestly, browser

[2018-02-16 05:57] feross commented on #177
Merged @vmx's PR and the tests are closer to node's now, but there's still a lot of differences.

[2018-02-16 06:02] feross opened #182 "Drop Safari 5.1 - 9 support"
Let's drop these Safari version which have < 0.1% usage:

5.1 - 0.09%
6.1 - 0.01%
8 - 0.04%
9 - 0.06%

We'll still keep these versions which have > 0.1% usage:

9.1 - 0.24%
10 - 0.16%
10.1 - 0.42%
11 - 1.49%

I don't plan to intentionally break older Safari versions, but I don't think there's enough usage to justify worrying about it, or guaranteeing support.

[2018-02-16 06:12] dcousens commented on #182
Can we `throw` in those browsers at least?

[2018-02-16 06:15] feross commented on #182
@dcousens What's the advantage of that? Isn't partial support better than being totally broken? Say that 95% of methods work fine (and 100% of the ones that are used in an app), then throwing would make things worse...

Willing to log some output at least, but hopefully the browser detection code won't add too many bytes...

[2018-02-16 06:18] feross commented on #182
We also don't currently print any messages in IE6-10, for example, none of which are supported.

[2018-02-16 06:54] #174 closed

[2018-02-16 06:54] feross commented on #182
Okay, this is done.

Before we were running Sauce Labs tests on latest Safari only. Now we run them on Safari 9, 10, 11.

For iOS, before we running on latest iOS only. Now we run on 9.3, 10.3, and 11.2.

This is a net win w/ more testing, just updating the readme to not promise support for old Safari back to 5.1 since it's not even possible to test that on Sauce Labs.

[2018-02-16 06:54] #182 closed

[2018-02-16 06:55] feross commented on #174
Okay, I went ahead and made these changes!

[2018-02-16 06:58] feross opened #184 "Drop Node 0.10 support"
There are references to Node 0.10 in the codebase, let's kill it with fire! 🔥

[2018-02-16 07:14] feross commented on #184
This will be released in 5.1.0

[2018-02-16 07:14] feross commented on #173
This will be released in 5.1.0

[2018-02-16 07:16] #173 closed

[2018-02-16 07:16] #184 closed

[2018-02-16 09:30] feross commented on #177
I just spent like 3 hours merging in more changes from Node.js, but there's still more changes to be done... wow. Would appreciate help from other folks, if there's interest. @vmx, any interest?

I've started adding the new test files that were added. Once they're all added in, then we can delete `test/node/test-buffer.js` which has been removed from the original repo. But I don't want to remove i

[2018-02-16 10:18] vmx commented on #177
Thanks for the review @feross. I still have interest and would spend some time next week. I'll start from the top (alphabetically) and work on the differences. I'll push again in small increments to prevent double efforts.

[2018-02-16 10:23] feross commented on #177
Great, looking forward to a PR next week, @vmx!

[2018-02-16 10:24] feross commented on #177
Note to self: When all these changes are merged in, **publish a new major version.**

[2018-02-22 16:49] Sowgandh1991 opened #187 "Issue on Buffer support for audio recorded from Web API"
Hi i am trying to load a buffer from audio recorded from microphone using Web Audio API. The audio recorded is returned as a Float32Array (e.g [-0.000234https://github.com/feross/buffer/issues -0.00034, -0.0056, 1.1000] ). When I try to create a Buffer like (new Buffer( Uint8Array(float32array)), I would be loosing precision right ?. I am converting to a Buffer to pass data to another opus library

[2018-02-23 01:35] feross commented on #187
If you use `Buffer.from` (same as `new Buffer()`), then you're treating each index of the Float32Array as a byte from 0 to 255. If you instead pass in the underlying ArrayBuffer (using `.buffer`), then the Buffer will get the actual raw bytes.

[code]

[2018-02-23 01:35] #187 closed

[2018-02-23 09:54] Domvel opened #189 "Typescript Support"
Is there a type file (d.ts) to import in typescript.
I recommend to move this project to typescript. The build still be javascript, but with a up-to-date type-file.

Typescript helps to limit the many ugly ways of code writing. Is easier to read and maintenance.

[2018-03-08 19:45] feross commented on #189
No thanks.

[2018-03-08 19:45] #189 closed

[2018-03-24 07:41] greenkeeper[bot] opened #192 "An in-range update of ieee754 is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **1.1.11** of [ieee754](https://github.com/feross/ieee754) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/feross/buffer/compare/greenkeeper%2Fieee754-1.1.11">Build failing 🚨</a>

[2018-03-24 07:50] feross commented on #192
False positive

[2018-03-24 07:50] #192 closed

[2018-03-27 12:59] konsultaner opened #193 "Issue when running in angular 6"
I updated from angular 5 to angular 6 which uses webpack in version ~4.0.0. I included autobahn.js that uses buffer.js. The build runs perfectly. When I run it in the browser I get the error:

[code]

which refers to version 4.9.1 in the index.js. Can I issue the other libs to update to the latest buffer.js?

[2018-03-27 16:47] konsultaner commented on #193
Sorry this is an angular issue

[2018-03-27 16:47] #193 closed

[2018-04-16 09:46] richardsengers commented on #193
@konsultaner I'm facing the same problem. Did you already found out what's causing this error?

[2018-04-16 10:31] konsultaner commented on #193
@richardsengers The problem was that migrating from 5 to 6 only works by updating the cli to the latest, creating a new project and diff the old and the new. I got this answere from a guy working @ angular. I cannot find this issue anymore, sorry.

[2018-05-10 23:39] jadbox opened #196 "typescript: Buffer bindings conflict with @types/node"
Sadly @types/react-dom uses @types/node that also declares a Buffer type. Is it possible to rename the type to like bufferWeb or something?

[2018-05-11 00:28] feross commented on #196
I don't use TypeScript. Please coordinate a solution with @ukstv who submitted the bindings. Happy to accept whatever PR the two of you send to address this issue.

[2018-05-11 00:28] #196 closed

[2018-05-11 00:29] feross commented on #196
Closing the issue since I don't plan to take any action here, but please feel free to continue discussion in this issue and to send a PR when you've decided how to handle it.

[2018-05-12 17:45] ukstv commented on #196
@jadbox Could you provide with an example package to reproduce the case, please?

[2018-05-15 00:49] superguineapig opened #197 "Writing NaN differs from nodejs Buffer"
Hello,

I was recently attempting to swap out nodejs' Buffer with this one on a fork of another project, so I could use it in a non-node environment, when I noticed an inconsistency between nodejs' Buffer and this library when dealing with `NaN`

Here's a sample (using most recent npm install of 'buffer'):
[code]
in node 6.x, 8.x, and 9.x, the resulting buffer objects are different

Node's (native

[2018-05-15 00:52] dcousens commented on #197
Don't use `new Buffer(8)`.

Use `Buffer.alloc(8)`.

The results are different because you are accessing uninitialized memory.

[2018-05-15 07:56] feross commented on #197
To test this properly, use `alloc()` to get zeroed out memory. But this does indeed look like a bug.

[code]

[2018-05-22 03:53] XiaoningLiu opened #198 "How to config the version of buffer used in browserify?"
It's a simple question. When I use browserify, it will load latest version of this module which doesn't support IE10. What I want is to load buffer@4.x.x with browserify. How can I do that?

[2018-05-22 04:13] dcousens commented on #198
Explicitly install `buffer@4.x.x`?
Browserify preferentially uses what is in your `node_modules`

[2018-05-22 06:50] feross commented on #198
You can also install the version of `browserify` that comes bundled with the version of `buffer` you want.

That's browserify v13.

There are also other workaround discussed in this PR: https://github.com/browserify/browserify/pull/1678

[2018-05-22 06:50] #198 closed

[2018-05-23 09:54] maximerety commented on #166
Hi!

I found this bug report while investigating a similar issue (not using the buffer library) and wanted to add two things:

* Thank you very much for saving me a lot of time!
* I've filed an issue on Webkit Bugzilla: https://bugs.webkit.org/show_bug.cgi?id=185906, so that it might be fixed some day.

Best regards,

[2018-05-23 10:01] feross commented on #166
@maximerety Thanks for sharing. Hope it gets fixed one day so we can remove this hack!

[2018-05-23 19:50] jvilk commented on #166
@maximerety Thanks for reminding me of this issue! I just added a minimal complete test case to that bug report.

[2018-06-09 23:39] greenkeeper[bot] opened #201 "An in-range update of is-buffer is breaking the build 🚨"
## Version **2.0.3** of [is-buffer](https://github.com/feross/is-buffer) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/feross/buffer/compare/master...feross:greenkeeper%2Fis-buffer-2.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>is-buffer</code>
    </

[2018-06-09 23:46] greenkeeper[bot] opened #202 "An in-range update of ieee754 is breaking the build 🚨"
## Version **1.1.12** of [ieee754](https://github.com/feross/ieee754) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/feross/buffer/compare/master...feross:greenkeeper%2Fieee754-1.1.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>ieee754</code>
    </td>

[2018-06-09 23:46] feross commented on #201
false positive

[2018-06-09 23:46] #201 closed

[2018-06-09 23:46] feross commented on #202
false positive

[2018-06-09 23:46] #202 closed

[2018-06-19 21:17] greenkeeper[bot] opened #203 "An in-range update of uglify-js is breaking the build 🚨"
## Version **3.4.1** of **[uglify-js](https://github.com/mishoo/UglifyJS2)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/feross/buffer/compare/master...feross:greenkeeper%2Fuglify-js-3.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <code>[uglify-js](https:/

[2018-07-09 03:20] jamessawyer opened #206 "Can I use this awesome library in my React Native project?"
I am wondering how can I add this to my React Native project.Can I import 'Buffer' like this?
[code]
thanks in advance!

[2018-07-10 22:02] hmil commented on #206
Yes you can. But import it like this:

[code]

Also, add this to the very beginning of your index.js if you want node modules to have access to `Buffer`
[code]

[2018-07-11 00:41] jamessawyer commented on #206
that's clear,thank you @hmil

[2018-07-11 00:41] #206 closed

[2018-07-12 04:03] vladyslav2 opened #207 "please create dist folder with compiled js files"
Looks like your website with compiled files are down
It would be awesome if you can just upload compiled files in the dist folder on github

thank you

[2018-07-12 13:35] dcousens commented on #207
@vladyslav2 why not use `browserify`?

[2018-07-12 17:03] vladyslav2 commented on #207
@dcousens lol. Why do you provide compiled link at all, then?
Maybe cause simple I don't it and neither npm on the device where I need this buffer library?

[2018-07-13 03:04] dcousens commented on #207
@vladyslav2 because hopefully, hopefully,  that tool meant we didn't need to include the `dist/`.

[2018-07-13 19:55] vladyslav2 commented on #207
@dcousens It would be nice if you can be more specific.
I don't see any reasons why you don't want to include `dist/` folder, especially if you already provide a link in your readme file to a server which goes down time to time.

Having compiled source on github will solve few problems for you:
1. You don't have to keep a server and maintain/support it
2. People will have more reliable content del

[2018-07-14 18:51] crabicode opened #208 "TypeError: Cannot use 'in' operator to search for 'length' in true"
Fails at simple `Buffer.alloc(1, !!true)`, work in any nodejs env

[2018-07-27 07:59] #203 closed

[2018-07-30 11:00] islommuhammad commented on #196
same here

"buffer": "5.2.0",
"@types/node": "^8.5.9",
"typescript": "~2.7.1"

[2018-07-31 22:34] smcatala opened #213 "type declarations conflict with those from @types/node"
since [v5.2.0](https://github.com/feross/buffer/commit/056b770c528a1d28913bda62431d644b60083616).
see https://github.com/Microsoft/TypeScript/issues/26086.

[2018-08-02 19:05] ukstv commented on #196
Gentlemen, vanilla Node and this package provide the same 'buffer' module. This is not a surprise the declarations for these are in conflict. I would suggest using 'safe-buffer' package or vanilla type declarations from node, that is to remove 'buffer' package from dependencies.

[2018-08-04 00:07] feross commented on #196
It's also worth noting that `require('buffer').Buffer` will always return the built-in Node.js buffer package, not the npm package called "buffer".

If you want to import the npm package "buffer", you need to use `require('buffer/').Buffer`.

[2018-08-04 06:50] feross commented on #196
Looks like there's a PR to fix the types here: https://github.com/feross/buffer/pull/214 Can someone familiar with Typescript review it / try it out?

[2018-08-06 23:33] unsoluble opened #215 "Buffer JS breaking downstream on iOS 9?"
Apologies if dropping in here isn't the right move, but: We've got a project that's failing to load under iOS 9.3.5 that _seems_ to have its roots in JS that comes from here in `buffer` (which appears to nominally support iOS 9). Any chance someone here could either rule this out or point us in another direction?

Our issue is [over here](https://github.com/nightscout/cgm-remote-monitor/issues/378

[2018-08-19 08:27] searene opened #216 "startsWith(" ") returns false in react-native while it should return true."
I'm using react-native, and there is a weird phenomenon when using this library in it. Please see the steps below to reproduce it.

### Steps to reproduce
First create a react-native project and install `buffer` as a dependency.
[code]

Then add the following lines in `App.js`:

[code]

Run the following command to open the dev menu on your device.

[code]

Make sure you are not debugging it remot

[2018-08-28 07:43] mhh1422 commented on #213
It looks like the commit fixes the problem, when it will be merged?

[2018-08-29 01:45] feross opened #217 "Remove noAssert option"
The `noAssert` option to read and write operations has been deprecated in Node.js. See: https://nodejs.org/api/all.html#deprecations_dep0102_using_noassert_in_buffer_read_write_operations

We should remove it from here.

[2018-08-29 15:00] yvgny opened #218 "Different implementations of the `equals` method"
Node.js Buffers allow the equality comparison with an Uint8Array, but here it throws a `TypeError`

For example, this simple statement :
`Buffer.from([1 , 2, 3]).equals(new Uint8Array([1, 2, 3]))`
returns `true` on Node.js, but throws an error in the browser.

The equivalent Node.js implementation is here : https://github.com/nodejs/node/blob/88105c998ef9d3f54aa8f22b82ec8cc31cbfac95/lib/buffer.js#

[2018-08-30 21:36] feross commented on #213
Released as 5.2.1

[2018-08-30 21:36] #213 closed

[2018-10-19 11:36] jimmywarting opened #219 "a ~9x faster .toString('hex')"
I was reading upon MDN and saw there [example](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest#Example) of how they take a buffer and make it to a hex string.

There solution was: They used DataView got 4 bytes as Uint32 to reduce the iterations by 4.
I thought, "how much faster is it as compared to a simple for loop like your [hexSlice](https://github.com/feross/buffer/blob/b

[2018-10-19 11:46] dcousens commented on #219
Make a pull request... if you can still beat the benchmarks in the actual code,  then power to it :+1:

[2018-10-19 11:49] vweevers commented on #219
See also https://github.com/jessetane/hex-string

[2018-10-19 12:10] jimmywarting commented on #219
Oh, so someone beat me to it...

[2018-10-19 12:15] jimmywarting commented on #219
but mine was still faster :)

[code]

[2018-10-19 15:42] jessetane commented on #219
@jimmywarting nice!

[2018-11-02 10:40] AlexanderTserkovniy commented on #215
Same here guys. Is there any progress or advices?

[2018-11-04 14:34] AlexanderTserkovniy commented on #215
At our project, we decided to process it through `babel-loader`, via [include](https://webpack.js.org/configuration/module/#rule-include).

[2018-11-27 00:12] superguineapig commented on #177
Hey all. It's been some time since this issue was opened and buffer was updated. Has the herd moved to another implementation/fork? Or is there still a roadmap for this one to be actively developed? Just curious.

[2018-11-27 18:38] superguineapig commented on #177
Thanks for the info @vmx Glad to hear the project is still alive.

[2018-12-05 21:36] jseter opened #222 "missing overload?"
One of the syntaxes that node documents that buffer does not appear to have a mapping for -

Added in: v5.10.0
buffer <Buffer> | <Uint8Array> An existing Buffer or Uint8Array from which to copy data.

I would expect this would mean that the index.d.ts entry would be changed to:

static from(buffer: Buffer | Uint8Array): Buffer;

This also applies to the constructor (although constructor references

[2018-12-12 09:54] cojack opened #223 "remove isarray dependency"
Hi, any reason to use `isarray` dep instead of `Array.isArray`?

[2018-12-16 14:34] markb-trustifi opened #224 "Buffer.prototype.slice fails in in IE11"
When running it in IE11 I get this error:
[code]

As a workaround I can remove 'use strict' and then the error disappears.
I have AngularJS 1.7 with browserify.

[2019-02-05 04:09] AbhinaiRaj commented on #144
Me to its not working gateway time out. Can any one share the buffer.js file or a solution. Thanks In Advance.

[2019-02-19 13:30] d3lm opened #227 "Support 'buffer' encoding"
Since Node.js v10.0.0 'crypto.DEFAULT_ENCODING' is deprecated and the default value is now 'buffer', which makes methods default to Buffer objects. I am running into an issue where `Buffer.from` is called on a string, but the encoding is `buffer`. That throws an exception because `Buffer.isEncoding` doesn't support the `buffer` encoding.

I'd suggest to add this to allow users to integrate this wi

[2019-03-04 06:44] eramdam opened #228 "Buffer.alloc(n, str, 'base64').toString('hex') differs from node"
Given the following code
[code]

This yields `8e3630186e35d477231bf8fd50e54cdd` in Node 11.x (which is what I want).

While

[code]

Yields `efbfbd3630186e35efbfbd77231befbf` in a browser.

I must admit I'm not very familiar with buffers in general so there may be something obvious I'm missing, but I'm a bit lost here 🙇

[2019-03-04 06:50] eramdam commented on #228
Hum, nevermind, I suspect a weird webpack-related bug, because somehow the same code inside CodeSandbox (which uses Parcel) yields the proper result...

https://codesandbox.io/s/vyvz5wpqj7?fontsize=14

Still curious as if there's a way to have Webpack not acting weird here.

[2019-03-08 06:58] joside opened #229 "Standalone Version is unavailable"
At least for me. Can you upload it again?

[2019-04-02 14:50] roemhildtg opened #230 "Invalid JPEG error"
I'm running into an issue with a specific JPEG. Buffer is throwing `Invalid JPEG` because one of the markers is not in the jpeg apparently, but the JPEG appears to be perfectly fine when using `img.src = data`, so I'm not sure what's up beyond that.

my image data is here:

<details>
[code]
</details>

[2019-04-02 15:02] vweevers commented on #230
This is not related to `buffer`, it holds binary data and does not know that data is JPEG. Your error is coming from somewhere else.

[2019-04-02 15:10] roemhildtg commented on #230
Okay. I'll keep digging. Thanks!

[2019-04-02 15:10] #230 closed

[2019-04-25 18:11] marsrobertson commented on #229
https://www.npmjs.com/package/buffer#install

Kind of...

![image](https://user-images.githubusercontent.com/44369284/56758183-eca81980-678d-11e9-9925-754cdebb6e43.png)

[2019-04-25 18:34] vweevers commented on #229
[That project](https://github.com/browserify/wzrd.in/) isn't actively maintained, and fixing it is not a matter of uploading something.

You could try [packd](https://github.com/Rich-Harris/packd) instead: https://bundle.run/buffer@5.2.1 .

[2019-04-25 23:31] marsrobertson commented on #229
Thanks! Very useful indeed

[2019-07-02 13:13] jimmywarting commented on #223
seems to be gone, close?

[2019-07-05 17:50] feross commented on #223
This issue makes no sense. There is no dependency on `isarray`.

[2019-07-05 17:50] #223 closed

[2019-07-11 16:18] veerthiara opened #233 "Uncaught SyntaxError: Function statements require a function name"
I am getting Uncaught SyntaxError in my React application deployed on Azure, it points to bundle.js Line 55 which in my case is the buffer module

![image](https://user-images.githubusercontent.com/23288822/61067634-098bda80-a3d6-11e9-83e5-d2202e2d1815.png)

[2019-07-11 16:29] vweevers commented on #233
That line isn't from `buffer`. Perhaps it's from your bundler or Babel?

[2019-07-11 18:14] veerthiara commented on #233
Hi Why is it failing for just this module? Can you suggest ? my webpack is following below

const path = require('path')
const HtmlWebpackPlugin = require('html-webpack-plugin')

module.exports = {
    entry: ['babel-polyfill', path.resolve(__dirname, 'src', 'index.js')],
    output: {
        path: path.resolve(__dirname, 'dist'),
        filename: 'bundle.js',
        publicPath: '/'
    },

[2019-07-11 18:28] vweevers commented on #233
It isn't. That line of code doesn't belong to this module and the error is not related, so this isn't the right place to discuss it. I suggest asking FusionCharts for help. Good luck!

[2019-07-11 20:18] feross commented on #233
I'm closing this issue since there's no bug to fix here.

[2019-07-11 20:18] #233 closed

[2019-07-11 22:23] feross commented on #229
Thanks for the link @vweevers. I'll update the link in the readme.

[2019-07-11 22:23] #229 closed

[2019-08-06 20:04] jimmykane opened #235 "Compilation errors from browsers that dont support globals"
Hi

this piece of code:

[code]
Does not work on browsers that do not support the `global`  the whole lib crashes

One of such is brave and lately all browsers.

[2019-08-06 20:08] feross commented on #235
Buffer expects to be run through the `browserify` build tool which substitutes in a browser shim for `global`.

[2019-08-06 20:09] #235 closed

[2019-08-06 20:18] jimmykane commented on #235
Thanks but prefer to add one line `(window as any).global = window;` ;-) Same stuff

[2019-08-08 07:03] greenkeeper[bot] opened #236 "An in-range update of browserify is breaking the build 🚨"
## The devDependency [browserify](https://github.com/browserify/browserify) was updated from `16.3.0` to `16.4.0`.

🚨 [View failing branch](https://github.com/feross/buffer/compare/master...feross:greenkeeper%2Fbrowserify-16.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

browserify is a devDependency of this project

[2019-08-08 20:06] feross commented on #236
False positive. Travis is being flaky.

[2019-08-08 20:06] #236 closed

[2019-08-10 19:35] Borewit opened #237 "Calling readUInt32LE with no arguments throws an exception in buffer v4"
Issue on buffer: [4.9.1](https://github.com/feross/buffer/releases/tag/v4.9.1).

**Expected behaviour:**
Call `buffer.readUInt32LE()` will read a 32-bit unsigned integer from the buffer start at position since this is how node.js buffer behaves.

**Actual behaviour:**
Throws an exception: "RangeError: offset is not uint"

There are likely other read function behaving the same. But this specific on

[2019-08-11 04:35] feross commented on #237
It's ridiculous that they won't update to the latest `buffer`. I would rather not support old major versions of packages. It's already so much work to maintain just the latest major version without also fixing old versions. If there's a severe issue affecting you that you can't work around, let me know and I'll consider it in the future. But for now it sounds like you were able to work around the

[2019-08-11 04:35] #237 closed

[2019-08-11 22:01] #207 closed

[2019-08-12 19:46] feross opened #239 "Remove `buffer.inspect`"
It has been deprecated, as per @goto-bus-stop's comment here: https://github.com/feross/buffer/pull/204

[2019-08-13 11:28] JigneshRaval opened #240 "PhantomJS 2.1.1 (Windows 7.0.0) ERROR: 'This browser lacks typed array (Uint8Array) support which is required by `buffer` v5.x. Use `buffer` v4.x if you require old browser support.'"
Hi,

I need your help in following issue.

I am working on Angular project and using PhantomJS 2.1.1 for running test cases. But after last publication of "buffer" package v5.3.0. I am getting error in running test cases. Which breaks the build.
"buffer" package might be dependency of any internal/child npm package, which is auto updated by build process. So currently we don't have any control on

[2019-08-13 12:29] vweevers commented on #240
Take into account that PhantomJS was discontinued (March 2018).

[2019-08-13 13:25] JigneshRaval commented on #240
Hi @Vincent Weevers,

Thanks for your quick reply.

Can you please suggest any quick solution for this, because our project is bigger and it is divided into multiple installable npm packages. When we ran "npm list buffer", and we found that it is dependency of "Karma-typescript" package.

[code]
Your suggestion will help us to manage this project at least until we update all the things to a new ve

[2019-08-13 20:00] feross commented on #240
Perhaps you can install `buffer` at the top-level of your project and it will take precedence over the one from `karma-typescript`?

[code]

I'm closing this issue since there's no bug to fix here, but feel free to continue discussion! ✨

[2019-08-13 20:00] #240 closed

[2019-08-14 08:35] JigneshRaval commented on #240
Thank you @feross,

Sure, we will try your suggestion.

Thanks again,

[2019-08-23 22:20] feross commented on #169
We're now using https://bundle.run/buffer as our standalone script URL.

[2019-08-23 22:57] feross commented on #224
It's not clear to me why IE11 does not allow assignment to `Buffer.prototype.slice` since it's our own class, and we don't mark `slice` as read-only. If someone has an idea, please send a PR.

[2019-08-23 23:07] feross commented on #222
I don't use Typescript. Please send a PR to update the typings file however you see fit and I will merge it.

cc @ukstv @ranbochen @borovik96 who have sent PRs for typescript support in the past. Can you help?

[2019-08-26 19:48] jpcodr opened #241 "On Cordova: Undefined is not a function"
I use browserify, that use this library. Recently i updated to the last version and now i cant run my app on android 5.0.0 (API 21)

![Captura de Pantalla 2019-08-26 a la(s) 14 35 04](https://user-images.githubusercontent.com/3935083/63717868-d7f89280-c80e-11e9-9717-d1fc00761a44.png)

`Symbol.for` it's not supported. Can you help me with this?

Thanks in advance.

[2019-08-27 12:53] ukstv commented on #222
@feross @jseter Handled in #242

[2019-08-27 14:47] geastwood commented on #228
I can reproduce this in the browser when using some kind of bundler to bundle the js, e.g. parcel, webpact. And they load the `buffer` module from `node-libs-browser` which has an old version of `buffer` (possibly 4.7.0) and it's exactly this [line](https://github.com/feross/buffer/blob/a1cab29b7aed04b221622efec2f6bf47f989314f/index.js#L1555) causing the inconsistency. It tries again to convert th

[2019-08-27 21:43] #241 closed, assigned to nobody

[2019-08-28 20:46] geastwood commented on #197
Spent some time digging down, and it leads to the [ieee754](https://github.com/feross/ieee754). Created a [PR](https://github.com/feross/ieee754/pull/31) trying to fix the bug, feel free to put down any comment.

[2019-09-04 22:43] feross commented on #197
@geastwood Thank you for digging into this and finding the root cause. I left a comment on your PR.

[2019-09-05 20:32] feross commented on #177
I'm in grad school as of the past year, so I was off GitHub for a while. Still around and still plan to maintain this as good as ever.

[2019-09-05 20:36] feross commented on #144
There's a working standalone version hosted here: https://bundle.run/buffer

[2019-09-05 20:36] #144 closed

[2019-09-05 21:37] feross commented on #216
Running your code directly in the Node.js terminal works fine for me:

[code]

One thing that I noticed you did wrong is you used `require('buffer')` instead of `require('buffer/')`. The latter is required to tell Node to use the npm package and not the built-in buffer package.

In the react-native context, I'm not sure what `require('buffer')` does, but my guess is that it will pull in an older v

[2019-09-05 21:37] #216 closed

[2019-09-10 21:53] nazar-pc opened #244 "readBigUInt64BE() and similar methods are missing"
Essentially getting this in Browserify build:

[2019-09-10 21:56] feross commented on #244
According to Node docs this was added in Node 12.0.0 so it makes sense that it's missing from here.

[2019-09-10 21:58] nazar-pc commented on #244
Yes, but v12 is out for a while now, so I think it is time to consider implementing new methods.

[2019-09-10 22:46] feross commented on #244
I'd love to do it, but I'm very time-constrained at the moment. PR welcome, from you or anyone else!

[2019-09-10 23:09] feross commented on #227
I haven't had time to look into this, but I would accept a PR that fixes this issue. Cheers!

[2019-09-11 00:05] feross commented on #219
Happy to include this approach in `buffer`. Does someone want to send a PR?

[2019-09-11 04:36] fanatid commented on #219
@feross do you prefer include predefined table for lookup or compute it on each `buffer` module initialization?

[2019-09-11 04:41] feross commented on #219
@fanatid If the predefined table has 256 entries, I'd rather compute it.

[2019-09-11 04:44] fanatid commented on #219
I'll check it shortly and will try send PR.

[2019-09-12 02:46] feross commented on #219
Fixed in #245.

[2019-09-12 02:46] #219 closed

[2019-09-12 05:42] fanatid commented on #244
Node.js internally uses `BigInt` constructor, if this package will start use it... should this methods be available if BigInt is not available in environment?
I'm not familiar too much with bundling systems, can usage of BigInt cause any issues with it?

[2019-09-17 19:53] fanatid commented on #239
Any plans about this issue?
- left both methods now
- remove buffer.inspect
- define buffer.inspect only if Symbol `util.inspect.custom` undefined
- something else?

[2019-09-17 19:56] fanatid commented on #244
Just checked how this implemented in node. I think better finish #217 first. @feross are you ok with this?
For reference, PR in node: https://github.com/nodejs/node/pull/19691

[2019-09-17 19:56] fanatid commented on #217
For reference, PR in node: https://github.com/nodejs/node/pull/18395

[2019-09-17 19:58] goto-bus-stop commented on #239
I mentioned in the PR that the `util` shim would start using the symbol, but I think that didn't actually happen yet as there was another big effort to add `util.types` there and the inspect symbol fell by the wayside. I will work on adding that ASAP. Until then it would be best to keep both around for compatibility reasons.

IMHO `Buffer.prototype.inspect()` isn't really in anyone's way so if I w

[2019-09-18 00:46] feross commented on #244
Yep, feel free to tackle this in any order your prefer. Finishing #217 first sounds good. Thanks for all your help, @fanatid.

[2019-09-18 00:48] feross commented on #239
@goto-bus-stop Thanks for all that context. This package aims for 1-to-1 functionality compatibility with Node.js, so if it's not removed from Node.js LTS yet, then we should keep it here. Thanks for the context.

[2019-09-18 00:48] #239 closed

[2019-10-03 13:56] tiagolpadua opened #248 "New minor version break on PhantomJS"
karma-typescript uses buffer as a dependency, the version 5.2.1 didnt require Uint8Array in the browser, so it runs on PhantomJS 2.1.1, but the new version 5.4.x breaks on PhantomJS 2.1.1 with:
PhantomJS 2.1.1 (Linux 0.0.0) ERROR: [36m'This browser lacks typed array (Uint8Array) support which is required by `buffer` v5.x. Use `buffer` v4.x if you require old browser support.'

This new minor versi

[2019-10-03 14:06] vweevers commented on #248
Duplicate of https://github.com/feross/buffer/issues/240

[2019-10-06 18:16] #248 closed

[2019-10-11 09:05] dmytro-gokun commented on #235
@feross Is that an absolute necessity to require "global"? I mean, it just causes pain for the lib users. If it can be fixed, why not fix it?

[2019-10-24 15:28] roaringUnicorn opened #251 "utf16leSlice behaviour differs from node.js"
Problem
[code]

This comes from accessing n+1-th element of a Buffer of size n in utf16leSlice.
Node.js simply omits it.

Proposed solution: https://github.com/feross/buffer/pull/250

[2019-12-01 11:38] DavidLvSinonet opened #252 "I found a bug about the readUInt32BE."
[code]
In some Android browser (Chrome 71), it returns a negative number.
I think it should be add a check.
[code]

`readUInt32LE` also need add this >>> 0

[2019-12-01 12:08] fanatid commented on #252
Can you check that it's not possible set negative number (or number more than 255) in Uint8Array in described environment?

[2019-12-02 02:08] DavidLvSinonet commented on #252
The buffer data is [172, 68, 0 , 0 ]

It uses for mp4a sampleRate.  it returns -1404829696.

[2019-12-20 07:13] ljharb commented on #241
@feross the fix uses `.for` which is a syntax error in older browsers; I've filed #254 to fix it.

[2019-12-30 19:45] mi-mazouz commented on #196
not working for me. version 5.4.3

[2020-01-14 20:09] raven1152 opened #255 "Text in unit test is being flagged as malicious by corporate security software."
This is probably a low priority, but would be a quick fix.  Two unit test files,

test/node/test-buffer-indexof.js
test/node/test-buffer-indexof.js,

use the text "arglebargleglopglyf" to test search functionality.  Recent changes to our corporate security systems have caused these files to be flagged as malicious.

https://github.com/wireghoul/htshells/blob/master/dos/apache.dos.htaccess

I don't

[2020-01-14 22:17] corwin-of-amber opened #256 "Buffer.from with SharedArrayBuffer?"
According to [the docs](https://nodejs.org/api/buffer.html#buffer_class_method_buffer_from_arraybuffer_byteoffset_length), `Buffer.from(arrayBuffer, byteOffset, length)` accepts either an `ArrayBuffer` or a `SharedArrayBuffer` as the first argument.

This implementation's `Buffer.from` only checks if the argument is an `ArrayBuffer`. `SharedArrayBuffer` is *not* a subclass of `ArrayBuffer` (possib

[2020-01-20 02:58] sixcorners commented on #235
https://github.com/feross/buffer/commit/8746070093390396e497be53e900240c51c2ba49
Am I failing to understand something? Hasn't this reference to global been gone for three years?

[2020-01-20 07:13] dmytro-gokun commented on #235
@sixcorners I think, most ppl do not use this lib directly. Instead they use "webpack", which references "node-libs-browser", which in turn references v 4.9.2 of this lib. And that one has this issue.

[2020-01-29 13:26] rotemreiss commented on #255
Hi guys,

Any chance to replace this string to something else to refrain from this F/P detection on some FWs?

Thanks.

[2020-01-31 15:33] marcj opened #258 "`Buffer.from('abc').buffer` buffer overflow/wrong content"
[code]

Let's see what's inside this mysterious `.buffer`:

[code]

Output:
[code]

What on earth is going on here? 😅

Tested with node 12 and node 13. Native `Buffer` implementation works correct.

Converting a base64 to typed array using this package is impossible without going a extract step by converting first to Uint8, which ends up being twice as slow.

[code]

Any ideas what could be the is

[2020-01-31 16:03] marcj commented on #258
Going to close that since I experience the same issue with node's native Buffer implementation. I thought I covered that correctly in my tests. Sorry for the confusion!

[2020-01-31 16:03] #258 closed

[2020-03-06 19:26] #256 closed

[2020-04-03 04:33] mikeal opened #260 ".subarray method should return `Buffer` instance"
Ran across this one today.

`Buffer.subarray()` in Node.js will return a `Buffer` instance, but in the browser it returns a `Uint8Array`.

[2020-04-14 21:26] feross commented on #260
I wasn't able to reproduce the issue in Chrome, Brave, Firefox, or Safari on desktop. Which browser did you use?

I tested by browserifying and running:

[code]

which prints out `Buffer`.

[2020-04-14 21:33] mikeal commented on #260
I’m using polendina for testing, which is a headless chrome that uses webpack (not browserify). I’m also importing the module explicitly rather that relying on globals.

[2020-04-14 21:58] feross commented on #260
There's some weirdness going on with the `Symbol.species` code:

https://github.com/feross/buffer/blob/b0a6de5f2131c3e339f14801bb342d16d580ac5f/index.js#L111-L120

Need to investigate further.

[2020-04-14 22:30] feross commented on #260
@mikeal Can you try the fix in this PR? https://github.com/feross/buffer/pull/263

[2020-04-14 23:54] #260 closed

[2020-05-20 15:52] tex0l commented on #251
@feross I have the same issue, the suggested PR works, when do you plan on reviewing it?

[2020-08-06 17:07] cmdcolin opened #268 "Use TextDecoder for Buffer.toString?"
I have some pretty large buffers (~45MB) I'm decoding, and they can create a large "GC pressure"

With TextDecoder
start: 42ms

With buffer.toString()
start: 838.85302734375ms

I know there have been discussions about TextEncoder/TextDecoder in the past, but thought I'd mention the performance boost here

[2020-09-11 07:47] gsvarovsky commented on #268
Linking to #60 for reference

[2020-10-20 14:52] mightypenguin opened #271 "Cannot use with webpack v4.44.2 (angular/cli v9)"
Typescript project.

Trying to load module results in error:
import { Buffer } from 'buffer';
or
import { Buffer } from 'buffer/';

index.js:43 Uncaught ReferenceError: global is not defined
    at Object../node_modules/buffer/index.js (index.js:43)
    at __webpack_require__ (bootstrap:84)
    at Module../src/app/modules/authorization/service/user.service.ts (authorization.module.ts:12)
    at __

[2020-10-21 20:22] feross commented on #271
It sounds like you may be using a webpack option that doesn't include Node Globals. You should change that option to include variables like `global`.

[2020-10-21 20:22] #271 closed

[2020-10-27 21:36] #251 closed

[2020-10-27 21:52] feross commented on #251
Released as 5.7.0.

[2020-11-02 01:05] jkkang-kosac opened #272 "Buffer.concat failed when provided totalLength is smaller than sum of buffers size."
5.7 version has bug in Buffer.concat
It raises RangeError when provided totalLength is smaller than sum of buffers size.

5.6 version is okay.
you can test it with this source.

var Buffer = require('buffer/').Buffer;

const a = new Uint8Array(32);
a.fill(0);
const b = new Uint8Array(64);
b.fill(1);

const c = Buffer.concat([a, b], 64);
console.log('c = ', c);

[2020-11-03 19:28] davidmurdoch commented on #272
It appears this change is what broke things:

https://github.com/feross/buffer/compare/v5.6.2...v5.7.0#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346R414-R418

[2020-11-03 22:06] feross commented on #272
PR welcome to address this issue

[2020-11-04 01:01] feross commented on #244
Released as 6.0.0

[2020-11-04 01:01] #244 closed

[2020-11-04 03:14] vtn-dev2016 commented on #272
Please check package safe-buffer too. I think has same problem

[2020-11-04 21:14] feross commented on #272
Fixed by https://github.com/feross/buffer/pull/273

[2020-11-04 22:07] feross commented on #272
Released as 5.7.1 and 6.0.1.

[2020-11-04 22:07] #272 closed

[2020-11-05 00:26] feross commented on #255
I'm sorry that you're facing this issue. This test file comes directly from the Node.js source code and we sync our tests from them periodically. So the right place to get this fixed is directly in the Node.js project.

Cheers.

[2020-11-05 00:26] #255 closed

[2020-11-17 07:52] aavelyn opened #275 "Buffer.from('...','hex') does not work"
When running the Buffer.from static method in node js on a public key I get different console.log when running it from the browser (in an angular project). It seems that in browser I'm getting decimal instead of 'hex'.

nodejs
[code]

In angular I have installed `npm i buffer` and provided it in the `pollyfills.ts` like this

[code]

Running the same code on the browser [Stackblitz](https://stackb

[2020-11-17 23:02] feross commented on #275
I just tested and both this library (latest version) and Node.js (12 LTS) return the same Buffer object, with `30` as the first byte. I think you're somehow including an older version of `buffer`. This is not a bug in `buffer`.

[code]

[2020-11-17 23:02] #275 closed

[2020-11-18 02:26] feross commented on #252
Do you have a minimal example that demonstrates this issue in action? It's not possible to debug this issue without additional information. If this is still an issue, please leave a comment or open a new issue.

[2020-11-18 02:26] #252 closed

[2020-11-18 02:31] feross commented on #268
I'm open to merging a PR that switches to `TextDecoder`. If you would like to see it implemented, please send a pull request!

[2020-11-24 09:10] aavelyn commented on #275
Hi I could verify your result when running both in nodejs. But I'm getting a different result when running buffer in the browser.

[2020-11-24 22:03] feross commented on #275
@aavelyn Please ensure that you're using the latest version of `buffer` in your browser. If your bundler is including `buffer` automatically it may not be using the latest version.

[2020-11-25 08:35] aavelyn commented on #275
I found the reason. It is because the browser logs the values in int while nodejs logs it in hex....
Thanks for the support!

[2020-12-08 15:38] timoxley opened #278 "Buffer.alloc with non-buffer fill"
If you pass a  `<Uint8Array>` as the `fill` node will copy those bytes verbatim into the buffer, whereas with this module, it does *something* and the end result is that the buffer is filled with strange data.

[code]

Workaround is to pass a `Buffer` as the `fill` value:

[code]

I'd perhaps PR a fix for this specific issue, but I feel like the real problem is that this package needs to be refres

[2020-12-08 18:05] sontuphan opened #279 "readBigUInt64LE is not a function"
In native Buffer, it actually has `readBigUInt64LE`. References: https://nodejs.org/docs/latest-v12.x/api/buffer.html#buffer_buf_readbiguint64le_offset.
However, I cannot find the corresponding function in `buffer`. Can some one point me how to solve it?

[2020-12-10 11:22] chronark commented on #279
Same here for the `writeBigInt...` methods, I'd be happy to create a PR if I knew where to start.

[2020-12-10 11:34] chronark commented on #279
Actually we are just not using it properly :D

It works just fine.
[code]

[2020-12-10 15:57] #279 closed

[2020-12-14 17:41] Ekliptor opened #282 "Webpack 5"
Is it possible to use this module with webpack 5?
They removed nodejs polyfills/globals: https://webpack.js.org/blog/2020-10-10-webpack-5-release/#automatic-nodejs-polyfills-removed

First I got compile errors because he couldn't find `crypto`etc module. Then I tried add matching modules he was complaining about as polyfills under `resolve`:
webpack.config.js:
[code]

package.json:
[code]

This co

[2020-12-15 10:30] Ekliptor commented on #282
I made it work by adding the following to webpack.config.js:

[code]

[2020-12-15 10:30] #282 closed

[2020-12-16 23:08] wellington-oj opened #283 "Error while using Buffer.from() with a SharedArrayBuffer."
Hello.

While using the library to run the node.js version of the Fasta benchmark from [The Computer Language Benchmark Game] (https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/fasta-node-5.html) on the Google Chrome (version 87.0.4280.88) I found an error in the following function:

[code]

more specifically, on the execution of `out.writeBuffer(Buffer.from(output), 0, len);`
Th

[2020-12-17 02:58] ashleyjsands opened #284 "o.sent().body is undefined"
In a React App, I received this error from the buffer package:
[code]

The React App was sending a POST request using fetch.

This is for buffer 4.9.2 and occurred in Firefox 83.0.

Is this a bug in buffer?

[2021-01-07 12:51] mischnic commented on #283
This should have been fixed by https://github.com/feross/buffer/pull/259

[2021-02-05 20:16] feross opened #287 "Buffer.from(Uint8Array) should use fast path like Buffer.from(buffer) uses"
See: https://github.com/feross/buffer/blob/f52dffd9df0445b93c0c9065c2f8f0f46b2c729a/index.js#L298-L308

[2021-02-18 05:46] feross commented on #284
Not a bug in `buffer`.

[2021-02-18 05:46] #284 closed

[2021-02-18 05:47] feross commented on #283
This is fixed in the current version of `buffer`.  Please make sure that you are using the latest version. `webpack` or `browserify` may be including an older version.

[2021-02-18 05:47] #283 closed

[2021-03-11 03:28] abbydad opened #289 "Functions that use Buffer will have TypeError in jest unit testing"
My function contains the following code ：

[code]
I use `"buffer": "^6.0.3"`

I wrote a jest unit test for my function. It can pass when I run in the node environment, but if I set testEnvironment to jsdom, an error will appear as shown in the figure below.

![image](https://user-images.githubusercontent.com/27608002/110729621-022b6d00-825a-11eb-8a59-7f1519fa815e.png)

Debug found that it seems th

[2021-03-26 08:09] maltoze opened #290 "Doesn't work on Android 7 with the latest version(6.0.3)."
[code]
The above code does not work on Android 7 with the latest version(`6.0.3`),
when I downgrade to `4.9.3` it works fine.

[2021-03-28 14:29] anesuc opened #291 "Uncaught ReferenceError: Buffer is not defined"
Hi,

I've been trying to use the standalone version as mentioned here https://github.com/feross/buffer/issues/169#issuecomment-524479933 . I downloaded it to the server because I have to due to some CORS issues unrelated to this. Anyway I get that error when I go to use Buffer.from().

Thanks

[2021-04-18 02:59] Wengiel31 opened #292 "This doesn't work"
I use:
[code]
as per docs but i get: require is not defined

[2021-04-21 02:04] #292 closed

[2021-04-26 12:04] seirdotexe opened #293 "Questions"
Hi there!

I'm currently working on some binary stuff with Node, but I sadly lost track at one specific part, particularly **Integer Overflow**. I'm debugging a library from another programming language, trying to port this into Node, but the behavior with both of these is different. You see, in the other programming language, Integer Overflow is accepted and handled internally, whereas Node throw

[2021-05-08 08:14] 307914070 opened #294 "the code 2 ** 8 not work in IE 11."
in the pulgins "buffer", The code below is not work in IE 11.

Buffer.prototype.readBigUInt64LE = defineBigIntMethod(function readBigUInt64LE (offset) {
  offset = offset >>> 0
  validateNumber(offset, 'offset')
  const first = this[offset]
  const last = this[offset + 7]
  if (first === undefined || last === undefined) {
    boundsError(offset, this.length - 8)
  }

  const lo = first +
    this[

[2021-05-17 10:44] MayankDargan opened #296 "Cannot find name 'BigInt'"
ERROR in node_modules/buffer/index.d.ts:23:38 - error TS2304: Cannot find name 'BigInt'.

23     readBigUInt64LE(offset: number): BigInt;
[code]
node_modules/buffer/index.d.ts:30:37 - error TS2304: Cannot find name 'BigInt'.

30     readBigInt64LE(offset: number): BigInt;
[code]
node_modules/buffer/index.d.ts:45:54 - error TS2304: Cannot find name 'BigInt'.

45     writeBigUInt64LE(value: number,

[2021-05-26 18:23] offirgolan commented on #289
I'd like to bump this thread as I'm seeing the same issue using Cypress.

[code]

`response.arrayBuffer()` returns an ArrayBuffer which is failing `buffer-es6`'s instanceof check.

[2021-06-18 19:56] BTOdell opened #297 "subarray is not re-defined in index.d.ts"
The `subarray` function should return a `Buffer`, but currently the types are inheriting the definition from `Uint8Array` which has the function returning a `Uint8Array`.
I believe PR #261 fixed this issue at runtime, but the types were never updated.

[2021-07-03 15:18] #293 closed

[2021-07-19 16:33] jedahan opened #300 "changelog / breaking changes for v5 to v6?"
Just wondering if there is documentation on where I should look to understand what changed between v5 and v6.

[2021-07-19 17:40] vweevers commented on #300
This commit was the reason for the major bump: https://github.com/feross/buffer/commit/840160f352ff0d8e88d4ac308a1640fd278f50fc

[2021-07-19 17:42] jedahan commented on #300
Excellent, thank you

[2021-07-19 17:42] #300 closed

[2021-07-23 20:38] swansontec commented on #294
This issue also affects certain older Android 6 devices, like the Oukitel K6000. The exponentiation operator was introduced in ES2016, which makes it newer than things like the `import` keyword or arrow functions.

We are going to work around this issue on our end by running `buffer` through Babel during our build step, but it might be nice to skip this.

[2021-08-03 10:59] AlexJeffcott commented on #294
should the readme mention this as it currently says 'all browsers'?

[2021-08-04 17:31] fmagaldea commented on #294
As of 4th of August 2021, after 8 months of release of the v6, weekly downloads stats has spoken:
* v6 (not IE 11 compatible) = 920k
* v5 (IE 11 compatible) = 10,2M

You can check any other npm package, no one - that has such a success like this one - has so slow migration in such a long time.

I think it's clear that community chose version compatible with IE 11 (and old mobile devices).
It would

[2021-08-06 20:00] dekadentno opened #301 "writeBigUInt64BE is not a function"
I am trying to access `writeBigUInt64BE` like in the codesandbox below:
https://codesandbox.io/s/stoic-bohr-bnsir

but the error states that
[code]

although it is exported as seen here: https://github1s.com/feross/buffer/blob/HEAD/index.js#L1542-L1543
Functions like `writeIntLE` are exported in the same way and they can be accessed.

Note: `typeof BigInt` returns `function` in my browser.

[2021-08-06 20:38] vweevers commented on #301
You may need `import { Buffer } from "buffer/"` (note the slash) rather than `import { Buffer } from "buffer"`, in order to import the `buffer` npm package rather than the shim that the bundler injects, which may be an older version of `buffer`.

[2021-08-06 21:40] dekadentno commented on #301
Thank you for your answer. I managed to do that in my codesandbox above, but `writeBigUInt64BE` is still undefined in my local vue project.

Steps to reproduce error:
[code]

I know this may not be the place to ask this, but I hope you may know the answer.

[2021-08-09 05:37] dekadentno commented on #301
The issue was in the import. Even `import { Buffer } from "buffer/" // notice the slash ` didn't help me, I had to import it this way `import { Buffer } from 'buffer/index.js'` because it was picking up `node_modules/node-libs-browser/node_modules/buffer/index.js` instead of `node_modules/buffer/index.js`.

I don't know if it should be noted in the docs and if anyone had a similar issue.

[2021-08-09 05:37] #301 closed

[2021-08-25 03:26] githoniel commented on #224
For people who need to adapt silly IE11 using webpack1 or something use this package

[code]
can help

[2021-08-31 05:34] basefox opened #302 "Errror Blob"
this is result for error :

[code]

need some help , please...

[2021-11-02 06:01] talentlessguy commented on #296
try setting TypeScript target to ES2020

[2022-01-07 10:45] NunoSav opened #307 "NodeJS Buffer returns different result for same operation"
I've recently switched to this library on a @ionic/vue app and since then some of my unit tests fail since they run under node environment. The following is an example that returns a different value depending on where it runs on.

[code]

[code]

Running the HTML snippet on the browser will return `-1` and running the second snippet with `node` will return `47`.
How come?

[2022-03-09 01:08] ljoy913 opened #309 "Does not appear to support 'base64url' encoding like Node Buffer"
[code]

[code]

[2022-03-11 08:20] cmdcolin commented on #297
ill just note buffer@4.9.2 (used by create-react-app@4 with webpack@4) returns a UInt8Array for subarray

[2022-03-31 11:13] myZhangDong opened #310 "Attempted import error: 'Buffer' is not exported from 'buffer'"
My project is working fine, but when I build project, occur 'Attempted import error: 'Buffer' is not exported from 'buffer' (imported as 'Buffer').'

[2022-04-19 09:44] urg opened #311 "Missing buffer.constants.*"
There appears to be a missing implementation of
`buffer.constants.MAX_LENGTH` & `buffer.constants.MAX_STRING_LENGTH` that is documented in the [node buffer api](https://nodejs.org/docs/latest-v14.x/api/buffer.html#buffer_buffer_constants)

[2022-05-02 16:09] MadOrkestra opened #313 "Standalone version missing"
Not sure if this is a temporary issue or if bundle.run is offline forever, but the link to the standalone version at https://bundle.run/buffer is no longer working.

[2022-05-04 19:38] 0x520x650x78 commented on #307
Anybody has any idea why since I'm having the same issue.
I'm having the same issue with browerify version, Buffer.from value is different between NodeJS and browserify version that is plugged into browser.

[2022-06-01 02:59] Dhuliang opened #315 "Use Buffer slice will have wrong result when end is larger than int32."
`[1,2,3].slice(1,3)` return ` [2, 3]`, it's ok.

`Array.from( Buffer.from([1,2,3]).slice(1,3) )` return `[2,3]`, it's ok.

`Array.from( Buffer.from([1,2,3]).slice(1,Math.pow(2,32)) )` return `[]` , it's wrong result.

In node `Buffer`, there is comment:
`  // Use Math.trunc() to convert offset to an integer value that can be larger`
` // than an Int32. Hence, don't use offset | 0 or similar techni

[2022-06-08 19:03] dtolstyi commented on #313
@MadOrkestra I've found a standalone version here: https://bundle.run/buffer@6.0.3

[2022-06-21 22:13] Flam3rboy commented on #309
done in #314

[2022-08-02 12:35] nanaknihal opened #317 "Buffer treats decimal numbers mod 100??"
Running v17.3.0,
`Buffer.from("abcde")` returns `<Buffer 61 62 63 64 65>` as expected
`Buffer.from("abcde").map(x=>parseInt(x,16))` returns `<Buffer 97 98 99 00 01>`
This is probably not the intended behavior of `Buffer`

[2022-08-02 18:25] nanaknihal commented on #317
That's approximately what parseInt does, which is fine. The problem seems to be from Buffer, not parseInt:

`Buffer.from("abcde").map(x=>parseInt(x,16))` returns

`<Buffer 97 98 99 00 01>` instead of

`<Buffer 97 98 99 100 101>` or

some other array with `97, 98, 99, 100, 101`.

[2022-08-02 18:56] vweevers commented on #317
The maximum value of a byte is 255. Buffer is a Uint8Array (rather than a Uint8ClampedArray), so values get wrapped.

[code]

[2022-08-02 21:25] nanaknihal commented on #317
Yes. Although it oddly wraps at 100 instead of 256. I think Buffer is treating the result of parseInt as 0x100 instead of 100.

I don't know the exact interface between Buffer and parseInt; perhaps this is difficult to fix and best remain a "feature" rather than a bug. It is unintuitive but perhaps it's just how Buffers work and there's no way around it.

[2022-08-02 22:18] vweevers commented on #317
A hexadecimal `100`. Perhaps that's where the confusion comes from: `console.log(buffer)` prints a hexadecimal representation of the bytes. Here's an easy way to demonstrate that:

[code]

There's no bug here.

[2022-08-23 16:04] mattiaferrari02 opened #318 "Can I use "writeBigInt64BE" ??"
One of the node modules that i'm importing uses this method, I'm currently developing in a browser environment, I used a polyfill to access buffer (https://www.npmjs.com/package/node-polyfill-webpack-plugin) that loads this buffer at the latest version.
From the lib that i have to use an error is being throwed saying that Buffer.prototype.writeBigInt64BE isn't defined

[2022-08-24 09:45] mattiaferrari02 commented on #318
Oh ok I found out what's the problem here.
I created a plain node script to test it:
<img width="381" alt="Screenshot 2022-08-24 at 11 40 10" src="https://user-images.githubusercontent.com/65465360/186386006-49024cff-25b3-46f5-afbd-f112b76a2a0a.png">
<img width="228" alt="Screenshot 2022-08-24 at 11 40 36" src="https://user-images.githubusercontent.com/65465360/186386104-4043a173-459f-4773-aec7-6a

[2022-09-26 03:22] pedrotorchio-frankieone commented on #235
Yeah a bit disappointed, but at least the fix is simple. Thank you

[2022-11-15 09:47] marcog83 opened #319 "TypeError: writeUint32LE is not a function"
Hi thank you for this library. It makes my life easier :)

I have some problem with this code. It tries to call `writeUint32LE`, but it seems to be undefined.

[code]

I found a stackoverflow anser here https://stackoverflow.com/a/38543218/2638899
saying that i could use DataView

[code]
My problem is that `ttf2eot` function is based on `Buffer` and refactor it with `DataView` is not doable.

Do y